<div id="details">

    <div class="content">

        <!-- 商品图片 -->
        <div oc-lazy-load="SquareImg"  class="product-img">
            <!--<div id="headerSlider" class="swiper-container">-->
            <!--<div class="swiper-wrapper">-->
            <!--<div class="swiper-slide" ng-repeat="itemImg in details.covers">-->
            <!--<img ng-src="{{itemImg.url}}">-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->
            <!--<div oc-lazy-load="ImageCache">-->
                <div ng-if="details.covers.length>0">
                    <bs-switch data-type="slider" data-ratio="1">
                        <bs-switch-content>
                            <bs-switch-panel ng-repeat="itemImg in details.covers">
                                <!--<img square-img alt="" ng-src="{{itemImg.url}}"/>-->
                                <img square-img alt="" ng-src="{{itemImg.url}}"/>
                            </bs-switch-panel>
                        </bs-switch-content>
                        <bs-switch-nav class="ui-switch-nav"></bs-switch-nav>
                    </bs-switch>
                </div>
            <!--</div>-->
            <!--<img ng-src="{{details.cover}}">-->
        </div>

        <!-- 商品内容 -->
        <div class="product-content">
            <div class="product-title">
                {{details.name}}
            </div>
            <div class="product-price">
                <span>{{details.price|currency:"￥"}}</span><span class="product-rebate" ng-if="product_rebate > 0">{{product_rebate}}</span>

                <div class="product-price-market"><span>市场价：</span><s>{{details.suggested_price | currency:'￥'}}</s>
                </div>
            </div>

            <div class="product-freight" style="border-top: 1px solid #ECECEC;">
                <div class="product-f-left">
                    <img src="img/details/price-icon.png"/>
                    <span>运费：{{details.freight|currency:"￥"}}</span>
                </div>
                <div class="product-f-right">
                    <!--<span>销量：{{details.sales}}件</span>-->
                    <img src="img/details/distribution-icon.png"/>
                    <span>默认配送：天天快递</span>
                </div>
            </div>
        </div>

        <div class="details-promise">
            <div class="details-promise-div">
                <div class="d-p-d-right">
                    <img src="img/details/details-promise.png">
                    <span>正品保证</span>
                </div>
                <div class="d-p-d-center">
                    <img src="img/details/details-promise.png">
                    <span>支持7天退货</span>
                </div>
                <div class="d-p-d-left">
                    <img src="img/details/details-promise.png">
                    <span>极速退款</span>
                </div>
            </div>
        </div>

        <!-- 商品详情 -->
        <div class="product-info">

            <div class="pictures-title">
                <img src="img/details/product-imgs-icon.png">
                <span>商品信息</span>
            </div>

            <div class="product-img-list" ng-bind-html="details.description | to_trusted">
                <!--<img ng-src="{{imgs.url}}" ng-repeat="imgs in details.images">-->
                <!--{{details.description}}-->
            </div>

        </div>

    </div>

    <!-- 底部 -->
    <div id="content-footer" style="display: none;">
        <div class="content-footer-div">
            <div class="c-f-d-right" ng-click="goHome()">店铺主页</div>
            <div class="c-f-d-center">会员中心</div>
            <div class="c-f-d-left">推客申请</div>
        </div>
    </div>

    <div class="footer">

        <div class="detail-footer-left">

            <!--<div class="footer-home">-->
            <!--<div class="f-h-top">-->
            <!--<img src="img/details/aliwawa-img.png">-->
            <!--</div>-->
            <!--<div class="f-h-bottom">-->
            <!--客服-->
            <!--</div>-->
            <!--</div>-->

            <!-- <div class="footer-cart" ui-sref="home.cart">
                 <div class="f-c-top ion-app-biliya-tabs-cart">
                 </div>
                 <div class="f-c-bottom">
                     购物车
                 </div>
             </div>-->

            <div class="footer-cart" ui-sref="home.cart">
                <div class="f-h-top">
                    <img src="img/details/cart-img.png">
                </div>
                <i ng-if="d_cart_count > 0" class="details_cart_count">{{d_cart_count > 99 ? "99+": d_cart_count}}</i>
                <div class="f-h-bottom">
                    购物车
                </div>
            </div>

            <div class="footer-collection" ng-click="addProductToCollection(details.id)">
                <div class="f-h-top">
                    <img src="img/details/star-collection.png">
                </div>
                <div class="f-h-bottom">
                    收藏
                </div>
            </div>
        </div>


        <div class="detail-footer-right">
            <div class="item-button">
                <div class="details_buy_css product_info" ng-click="buy_status(2)">
                    <!--<div class="details_buy_css product_info" ng-click="buy_immediately(details)">-->
                    立即购买
                </div>
                <div class="details_cart_css product_info" ng-click="buy_status(1)">
                    <!--<div class="details_cart_css product_info" ng-click="addProductToCart(details.id)">-->
                    加入购物车
                </div>
            </div>
        </div>

    </div>

    <!-- 商品属性-->
    <div id="show_details_wrap">
        <div class="weui_mask_transition" id="details_mask"></div>
        <div class="weui_actionsheet" id="weui_actionsheet">
            <div class="weui_actionsheet_menu">
                <div class="weui_panel">
                    <!--<div class="weui_panel_hd">选择收货地址</div>-->
                    <div class="weui_panel_bd">
                        <div class="weui_media_box weui_media_text">

                            <div oc-lazy-load="SquareImg" class="select_contact detail_content_title">
                                <img square-img ng-src="{{details_content_sheet_img}}">

                                <div class="weui_media_desc" ng-if="!details.specifications.length > 0">
                                    {{details.name | cutText:true:32:"..."}}
                                    <div style="padding-left: 0; margin-top: 6px;">库存：{{details_stock_balance != null ? details_stock_balance : 0}}</div>
                                </div>
                                <div class="weui_media_desc spec_info" ng-if="details.specifications.length > 0">
                                    <div>￥{{spec_item_price != null ? spec_item_price : details_price}}</div>
                                    <div>库存：{{spec_item_stock_balance != null ? spec_item_stock_balance : details_stock_balance}}</div>
                                    <!--<div>已选：{{spec_item_name != null ? spec_item_name : '规格分类'}}</div>-->
                                    <div ng-if="spec_item_name != null">已选：{{spec_item_name}}</div>
                                </div>

                            </div>
                            <div ng-if="details.specifications.length > 0" style="font-size: 14px;">商品规格</div>
                            <ul class="weui_media_info detail_content_checkbox">
                                <li class="weui_media_info_meta click_radio"
                                    ng-repeat="specItem in details.specifications">
                                    <input class="detail_input_radio detail_is_checked" id="pro_id_{{$index}}"
                                           type="radio" value="" name="radio"
                                           ng-click="get_input_value(specItem)">
                                    <label class="detail_label_radio" for="pro_id_{{$index}}"
                                           name="pro_id_{{$index}}">{{specItem.name}}</label>
                                </li>
                                <input id="property_hidden" type="hidden" value="{{product_property_value.name}}">
                                <input id="propertis_null" type="hidden" value="{{details.specifications.length}}">
                                <input id="product_stock_balance" type="hidden" value="{{spec_item_stock_balance}}">
                                <input id="details_stock_balance" type="hidden" value="{{details_stock_balance}}">
                            </ul>

                            <div class="details-quantity-position">
                                <div class="cart-quantity-form">
                                    <a href="javascript:void(0);" class="cart-quantity-decrement" ng-click="downQ()">
                                        <span>-</span>
                                    </a>
                                    <input autocomplete="off" class="cart-quantity" value="{{ q_count }}" type="text"
                                           readonly>
                                    <a href="javascript:void(0);" class="cart-quantity-increment" ng-click="upQ()">
                                        <span>+</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="weui_actionsheet_action">
                    <div class="weui_actionsheet_cell" id="action_sheet_cancel"
                         ng-click="buy_product_option(details, details.id, q_count)">确定
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<a class="call-service" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3080348136&site=qq&menu=yes" ng-hide="true">-->
    <a class="call-service" target="_blank" href="mqqwpa://im/chat?chat_type=wpa&uin=3080348136&version=1">
        <img src="img/details/customer-service.png">
    </a>


</div>