<div id="details">

    <div class="content">

        <!-- 商品图片 -->
        <div class="product-img">
            <!--<div id="headerSlider" class="swiper-container">
                <div class="swiper-wrapper">
                    &lt;!&ndash;<div class="swiper-slide" ng-repeat="iii in detail_cate">&ndash;&gt;
                        &lt;!&ndash;<img ng-src="{{iii.name}}">&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    <div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                </div>
            </div>-->
            <img ng-src="{{details.cover}}">
        </div>

        <!-- 商品内容 -->
        <div class="product-content">
            <div class="product-title">
                {{details.name}}
            </div>
            <div class="product-price">
                <span>￥{{details.price}}</span>
                <div>市场价：<i>-</i></div>
            </div>

            <div class="product-freight" style="border-top: 1px solid #ECECEC;">
                <div class="product-f-left">
                    <img src="img/details/price-icon.png"/>
                    <span>运费：{{details.freight}}</span>
                </div>
                <div class="product-f-right">
                    <!--<span>销量：{{details.sales}}件</span>-->
                    <img src="img/details/distribution-icon.png"/>
                    <span>默认配送：天天快递</span>
                </div>
            </div>

        </div>

        <div class="details-promise">
            <div class="details-promise-div">
                <div class="d-p-d-right">
                    <img src="img/details/details-promise.png">
                    <span>正品保证</span>
                </div>
                <div class="d-p-d-center">
                    <img src="img/details/details-promise.png">
                    <span>支持7天退货</span>
                </div>
                <div class="d-p-d-left">
                    <img src="img/details/details-promise.png">
                    <span>极速退款</span>
                </div>
            </div>
        </div>

        <!-- 其他信息 -->
        <div class="product-info">

                <div class="pictures-title">
                    <img src="img/details/product-imgs-icon.png">
                    <span>图文详解</span>
                </div>
                <div class="product-img-list">
                    <img ng-src="{{imgs.url}}" ng-repeat="imgs in details.images">
                </div>

        </div>

    </div>

    <!-- 底部 -->
    <div id="content-footer" style="display: none;">
        <div class="content-footer-div">
            <div class="c-f-d-right" ng-click="goHome()">店铺主页</div>
            <div class="c-f-d-center">会员中心</div>
            <div class="c-f-d-left">推客申请</div>
        </div>
    </div>

    <div class="footer">

        <div class="detail-footer-left">

            <!--<div class="footer-home">-->
                <!--<div class="f-h-top">-->
                    <!--<img src="img/details/aliwawa-img.png">-->
                <!--</div>-->
                <!--<div class="f-h-bottom">-->
                    <!--客服-->
                <!--</div>-->
            <!--</div>-->

            <div class="footer-cart" ui-sref="home.cart">
                <div class="f-c-top ion-app-biliya-tabs-cart">
                </div>
                <div class="f-c-bottom">
                    购物车
                </div>
            </div>

            <div class="footer-collection" ng-click="addProductToCollection(details.id)">
                <div class="f-h-top">
                    <img src="img/details/star-collection.png">
                </div>
                <div class="f-h-bottom">
                    收藏
                </div>
            </div>
        </div>



        <div class="detail-footer-right">
            <div class="item-button">
                <div class="details_buy_css" ng-click="testToast()">
                    立即购买
                </div>
                <div class="details_cart_css" ng-click="addProductToCart(details.id)">
                    加入购物车
                </div>
            </div>
        </div>

    </div>

</div>