<div id="coupon">

    <div class="coupon-content">

        <nav id="nav">
            <div class="nav-warp">
                <ul>
                    <li ng-class="{active : currentId == title.id}"
                        ng-repeat="title in coupon_titles"
                        ng-click="clickme(title.id);couponsOrderBy(title.id)">
                        <div class="ver_line" ng-if="title.hidden_line"></div>
                        <span>{{title.name}}<i> ({{title.count}})</i></span>
                        <i class="c-red-point" ng-if="title.red_point"></i>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="pro">

            <div class="pro-item" ng-repeat="cItem in coupons">

                <div class="p-i-left-non" ng-if="non_status">
                    {{coupon_type_checked(cItem.money, cItem.discount, cItem.type)}}
                    <div class="l-top">
                        <div class="l-t-left custom_text_primary_medium">
                            <div ng-if="isMoney">
                                <span style="font-size: 20px; ">￥</span><span>{{cItem.money}}</span>
                            </div>
                            <div ng-if="isDiscount">
                                <span>{{cItem.discount}}</span><span style="font-size: 16px; font-weight: bold">折</span>
                            </div>
                        </div>
                        <div class="l-t-right">
                            <div>
                                <div class="r-top custom_text_primary_medium">
                                    <div class="r-top-coupon-type">
                                        <span>{{coupon_type}}</span>
                                    </div>
                                    <div class="r-top-des">
                                        <span>{{cItem.display_name}}</span>
                                    </div>
                                </div>
                                <div class="r-bottom">
                                    <span>有效期至：</span><span>{{cut_time(cItem.valid_date)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="non-btn">
                        <a href="javascript:;"
                           class="weui_btn weui_btn_mini weui_btn_primary"
                           ng-click="activation_action(cItem)"
                                >
                            <span>立即领取</span>
                        </a>
                    </div>

                </div>


                <div class="p-i-left" ng-if="a_status">
                    {{coupon_type_checked(cItem.money, cItem.discount, cItem.type)}}
                    <div class="l-top">
                        <div class="l-t-right">
                            <div class="r-top custom_text_primary_medium">
                                <div class="r-top-coupon-type">
                                    <span>{{coupon_type}}</span>
                                </div>
                                <div class="r-top-des">
                                    <span>{{cItem.display_name}}</span>
                                </div>
                            </div>
                            <div class="r-bottom">
                                <span>有效期至：</span><span>{{cut_time(cItem.valid_date)}}</span>
                            </div>
                        </div>

                        <div class="l-t-left custom_text_primary_medium">
                            <div ng-if="isMoney">

                                <span style="margin-right: 5px;"><span style="font-size: 20px;">￥</span>{{cItem.money}}</span>
                            </div>
                            <div ng-if="isDiscount">
                                <span>{{cItem.discount}}</span><span style="font-size: 16px; font-weight: bold">折</span>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </div>


</div>