<div id="myRecommend">
    <div id="promotionOrder">

        <div class="my-recommend-content">

            <div class="item-stable custom_titlebar_primary">

                <select class="weui_select year" ng-options="i.key as i.value for i in yearDefault" ng-model="year"
                        ng-init="year=thisYear" ng-change="onSelectedYear()">
                </select>
                线下皇冠商进货明细
                <select class="weui_select mon" ng-options="i.key as i.value for i in monDefault" ng-model="mon"
                        ng-init="mon=thisMon" ng-change="postOrder()">
                </select>

            </div>
            <div class="item-accordion" >
                <div class="order-item-text">

                    <div class="orders-count custom_text_primary">
                        <p>本月总进货：
                            <span class="pro-red">
                                {{"￥" + (pirchase_summary.monthly_amount > 0 ? (pirchase_summary.monthly_amount | number:1) : 0)}}
                            </span>
                        </p>
                        <div class="check-table" ng-click="check_table_action()">
                            <span class="check-table-text custom_titlebar_primary">返点比例对照表查看 ></span>
                        </div>
                    </div>
                    <div class="orders-count custom_text_primary">
                        <p>本月提成比例：
                            <span class="pro-black">
                                {{pirchase_summary.monthly_settlement_proportion > 0 ?  pirchase_summary.monthly_settlement_proportion + "%" : 0}}
                            </span>
                        </p>
                        <p>累计总进货：
                            <span class="pro-red">
                                {{'￥' + (pirchase_summary.total_amount > 0 ? (pirchase_summary.total_amount | number:1) : 0)}}
                            </span>
                        </p>
                    </div>
                    <div class="orders-count custom_text_primary">
                        <p>本月总提成：
                            <span class="pro-black">
                                {{"￥" + (pirchase_summary.monthly_settled_amount > 0 ? (pirchase_summary.monthly_settled_amount | number:1) : 0)}}
                            </span>
                        </p>
                        <p>累计总提成：
                            <span class="pro-black">
                                {{"￥" + (pirchase_summary.total_settled_amount > 0 ? (pirchase_summary.total_settled_amount | number:1) : 0)}}
                            </span>
                        </p>
                    </div>
                    <div class="orders-count custom_text_primary" ng-if="false">
                        <p>可提金额：
                            <span class="pro-black">
                                {{"￥" + (pirchase_summary.withdrawable_amount > 0 ? (pirchase_summary.withdrawable_amount | number:1) : 0)}}
                            </span>
                        </p>
                        <p>已提金额：
                            <span class="pro-black">
                                {{"￥" + (pirchase_summary.withdrawn_amount > 0 ? (pirchase_summary.withdrawn_amount | number:1) : 0)}}
                            </span>
                        </p>
                    </div>
                </div>

                <!--<div class="recommend-list" ng-repeat="item in pirchase_summary.my_recommended_sellers">-->
                <div class="recommend-list">
                    <div class="recommend-list-item">
                        <div class="recommend-item-data">
                            <p>用户昵称：{{item.user_name}}</span></p>
                            <p>累计进货：
                                <span class="pro-black">
                                    {{item.total_amount > 0 ? "￥" + (item.total_amount | number:1) : '0'}}
                                </span>
                            </p>
                        </div>
                        <div class="recommend-item-data">
                            <p>本月进货：
                                <span class="pro-black">
                                    {{item.monthly_amount > 0 ? "￥" + (item.monthly_amount | number:1) : '0'}}
                            <p>累计提成：
                                <span class="pro-black">
                                    {{item.total_settled_amount > 0 ? "￥" + (item.total_settled_amount | number:1) : '0'}}
                                </span>
                            </p>
                        </div>
                        <div class="recommend-item-data">
                            <p>本月提成：
                                <span class="pro-black">
                                    {{item.monthly_settled_amount > 0 ? "￥" + (item.monthly_settled_amount | number:1) : '0'}}
                                </span>
                            </p>
                        </div>
                        <!--<div class="check-recommend" ng-click="toggle_order_item_list(show_list)">-->
                        <div class="check-recommend" ng-click="check_table_data_action()">
                            <span class="custom_text_primary">查看明细</span>
                            <!--<div class="{{show_order_item_list(show_list) ? 'arrow-down' : 'arrow-up'}}">
                                <i></i>
                            </div>-->
                        </div>
                    </div>
                    <div class="item-children-list" ng-show="show_order_item_list(show_list)" ng-if="false">
                        <div class="product-item">
                            <div class="product-title-name custom_text_primary">
                                <span>超效洁净护理洗衣液</span>
                            </div>
                            <div class="product-item-details custom_text_primary">
                                <span>进货金额: 1920.0; 提成比例: 20%; 预期提成: ￥384.0</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>