<div id="myRecommend">
    <div id="promotionOrder">

        <div class="my-recommend-content">

            <div class="item-stable custom_titlebar_primary">

                <select class="weui_select year" ng-options="i.key as i.value for i in yearDefault" ng-model="year"
                        ng-init="year=thisYear" ng-change="onSelectedYear()">
                </select>
                线下皇冠商进货明细
                <select class="weui_select mon" ng-options="i.key as i.value for i in monDefault" ng-model="mon"
                        ng-init="mon=thisMon" ng-change="postOrder()">
                </select>

            </div>
            <div class="item-accordion" >
                <div class="order-item-text">

                    <div class="orders-count">
                        <p>累计总进货：<span class="pro-red">{{"￥" + (pirchase_summary.total_amount | number:1)}}</span></p>

                        <p>本月总进货：<span class="pro-red">{{"￥" + (pirchase_summary.monthly_amount | number:1)}}</span></p>
                    </div>
                    <div class="orders-count">
                        <p>累计总提成：<span class="pro-black">{{"￥" + (pirchase_summary.total_settled_amount | number:1)}}</span></p>

                        <p>本月提成比例：<span class="pro-black">{{"￥" + (pirchase_summary.monthly_settlement_proportion | number:1)}}</span></p>
                    </div>
                    <div class="orders-count">
                        <p>已提金额：<span class="pro-black">{{"￥" + (pirchase_summary.withdrawn_amount | number:1)}}</span></p>

                        <p>本月总提成：<span class="pro-black">{{"￥" + (pirchase_summary.total_settled_amount | number:1)}}</span></p>
                    </div>
                    <div class="orders-count">
                        <p>可提金额：<span class="pro-black">{{"￥" + (pirchase_summary.withdrawable_amount | number:1)}}</span></p>
                    </div>
                </div>

                <div class="order-list">

                    <div class="order-list-item" ng-repeat="item in pirchase_summary">
                        <div class="p-order-type">用户昵称：{{item.user_name}}</div>
                        <div class="orders-count">
                            <p>本月进货：<span class="pro-black">{{"￥" + (item.monthly_amount | number:1)}}</span></p>
                            <p>累计进货：<span class="pro-black">{{"￥" + (item.total_settled_amount | number:1)}}</span></p>
                        </div>
                        <div class="orders-count">
                            <p>本月提成：<span class="pro-black">{{"￥" + (item.monthly_settled_amount | number:1)}}</span></p>
                            <p>累计提成：<span class="pro-black">{{"￥" + (item.total_amount | number:1)}}</span></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>