<div id="sellerTeam">

    <nav id="nav">

        <div class="content-item" ng-click="seller_team_action()">
            <img src="img/sellerPage/offLineShop/seller-team-member-img.png">
            <span class="title-name">团队朋友</span>
            <div class="team-count">
                <span class="custom_flat_primary_medium">{{my_team.children.length > 0 ? my_team.children.length + ' 人' : '0 人'}}</span>
            </div>
        </div>

    </nav>

    <div class="sellerTeam-content">

        <div class="t-m-item" ng-repeat="item in my_team.children">
            <div class="item-left">
                <img ng-src="{{item.avatar}}">
            </div>
            <div class="item-right">
                <div>
                    <div class="item_user_name">{{item.user_name}}</div>
                    <!--<div class="item-comcerned weui_btn_primary">已关注</div>-->
                </div>
                <div>ID:{{item.uid}}</div>
                <div style="font-size: 14px;">加入时间：{{item.created_date}}</div>
            </div>
        </div>

    </div>

</div>