<div id="orders">

    <div class="orders-min-height orders-info-span">

        <div class="orders-hide-span" ng-hide="allIsNull">
            <span >没有订单信息</span>
        </div>
        <div class="order-item" ng-repeat="items in order_list" ng-hide="allShow">
            <div class="item-order-number">
                订单号：{{items.order_number}}
                <span>{{order_list_status(items.status)}}</span>
            </div>
            <div class="item-order-info" ui-sref="orderDetails({orderNumber:items.order_number})">
                <div class="o-i-left">
                    <img ng-src="{{items.cover}}">
                </div>
                <div class="o-i-center">
                <span>
                 {{items.description |  cutText:true:35:'...'}}
                </span>
                </div>
                <div class="o-i-right">
                    <span class="o-i-right-span">￥{{items.total_price}}</span>
                    <p class="o-i-right-i">x1</p>
                </div>
            </div>
            <div class="item-detail-btn" style="border-bottom: 1px solid #cccccc">
                <div class="order-item-price">总价：￥{{items.total_price}}</div>
            </div>
            <div class="item-detail-btn" ng-if="items.status != 'CLOSED_PAY_TIMEOUT'">
                <!-- 待付款 -->
                <div ng-if="items.status == 'CREATED_PAY_PENDING'">
                    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_warn item-btn-right" style="margin-right: 5px;"
                       ng-click="weixin_pay(items.order_number)">
                        立即付款
                    </a>
                </div>

                <!-- 待发货 -->
                <div ng-if="items.status == 'CONFIRMED_DELIVER_PENDING' || items.status == 'PAID_CONFIRM_PENDING'">
                    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_warn item-btn-right" style="margin-right: 5px;">
                        提醒发货
                    </a>
                    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default item-btn-right"
                       ng-click="goToSalesReturn(items.order_number,items.total_price,1)">
                        申请退款
                    </a>
                </div>

                <!-- 待收货 -->
                <div ng-if="items.status == 'DELIVERING' || items.status == 'DELIVERED_CONFIRM_PENDING'" style="margin-right: 5px;">
                    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_warn item-btn-right" ng-click="a_close_order_action()">
                        确认收货
                    </a>
                    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default item-btn-right" ng-click="goToExpress_all(items.order_number)">
                        物流详情
                    </a>
                    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default item-btn-right"
                       ng-click="goToSalesReturn(items.order_number,items.total_price,2)">
                        申请退货
                    </a>
                </div>

                <!-- 已完成 -->
                <a ng-if="items.status == 'CLOSED_CONFIRMED' || items.status == 'CLOSED_REFUNDED'"
                   href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default item-btn-right" ng-click="goToExpress_all(items.order_number)">
                    物流详情
                </a>

            </div>
        </div>
    </div>


    <!-- 底部 -->
    <div id="content-footer" style="display: none;">
        <div class="content-footer-div">
            <div class="c-f-d-right">店铺主页</div>
            <div class="c-f-d-center">会员中心</div>
            <div class="c-f-d-left">推客申请</div>
        </div>
    </div>

</div>

