<div id="orderDetails">

    <div style="margin-bottom: 42px;">

        <div class="order_detail_title">
            <div class="o-d-title-content">
                <img src="img/my/orderDetails/order-title-img.png">
                <div>{{order_status(detailsInfo.status)}}</div>
                <p ng-if="detailsInfo.status != 'CREATED_PAY_PENDING' && over_time > 0">还剩 {{c_d_day}} 天 {{c_d_hour}} 时自动确认</p>
            </div>
        </div>

        <div class="logistics-info" ng-if="detailsInfo.status != 'CLOSED_PAY_TIMEOUT' && detailsInfo.status != 'CREATED_PAY_PENDING'">
            <div class="l-i-left">
                <img src="img/my/orderDetails/logistics-info-cart.png">
            </div>
            <div class="l-i-center-null" ng-if="j_status_code == 1">
                暂无
            </div>

            <div ng-if="j_status_code == 0" ng-click="goToExpress(detailsInfo)">
                <div class="l-i-center" ng-if="ex_info.length > 0">
                    <div>{{ex_context}}</div>
                    <p>{{ex_time}}</p>
                </div>
                <div class="l-i-right" ng-if="ex_info.length > 0">
                    <img src="img/my/orderDetails/logistics-info-arrow.png">
                </div>
            </div>
        </div>

        <!--收货地址-->
        <div class="order-address">
            <div class="o-address-img">
                <img src="img/cart/address.png">
            </div>
            <div class="o-address-info">
                <div class="mail-name">收件人：{{detailsInfo.contact_user}}</div>
                <div class="mail-phone">{{detailsInfo.phone}}</div>
                <div class="mail-address">
                    {{order_address | cutText:true:20:'...'}}
                </div>
            </div>
        </div>

        <!--订单详情-->
        <div class="order-detail">

            <!--订单状态-->
            <div class="order-status">
                <div class="o-status-info">
                    <div class="o-status">订单状态：{{order_status(detailsInfo.status)}}</div>
                    <div class="o-number">订单号：{{detailsInfo.order_number}}</div>
                    <div class="o-total">订单金额：{{total_price|currency:'￥'}}</div>
                </div>
            </div>

            <div class="item-order-info" ng-repeat="proItem in detailsInfo.order_items"  ui-sref="details({productId:proItem.product_id})" >
                <div class="o-i-left">
                    <img ng-src="{{proItem.cover}}">
                </div>
                <div class="o-i-center">
                    <p>
                     {{proItem.product_name |  cutText:true:35:'...'}}
                    </p>
                </div>
                <div class="o-i-right">
                    <div class="o-i-right-span">{{proItem.final_price|currency:'￥'}}</div>
                    <!--<s class="o-i-right-span" style="color:#9D9D9D;">{{0|currency:'￥'}}</s>-->
                    <div class="o-i-right-i">x{{proItem.quantity}}</div>
                </div>
            </div>
            <!--<div class="o-d-freight">-->
                <!--<span></span>-->
            <!--</div>-->
            <!--<div class="buyer-message">-->
                <!--<span>买家留言：</span>-->
            <!--</div>-->
            <div class="total-price">
                <span class="total-price-i">共{{productCount}}件商品  合计：{{total_price|currency:'￥'}} (含运费){{detailsInfo.freight|currency:'￥'}}</span>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    <div id="content-footer" style="display: none;">
        <div class="content-footer-div">
            <div class="c-f-d-right">店铺主页</div>
            <div class="c-f-d-center">会员中心</div>
            <div class="c-f-d-left">推客申请</div>
        </div>
    </div>



    <div class="footer" ng-if="detailsInfo.status != 'CLOSED_PAY_TIMEOUT' || detailsInfo.status == 'CLOSED_CONFIRMED' || detailsInfo.status == 'CLOSED_REFUNDED'">
        <!-- 待付款 -->
        <div ng-if="detailsInfo.status == 'CREATED_PAY_PENDING'">
            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_warn item-btn-right"
               style="margin:7px 5px 3px 0;"
               ng-click="weixin_pay(detailsInfo.order_number)">
                立即付款
            </a>
        </div>

        <!-- 待发货 -->
        <div ng-if="detailsInfo.status == 'CONFIRMED_DELIVER_PENDING' || detailsInfo.status == 'PAID_CONFIRM_PENDING'">

            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_warn item-btn-right" style="margin:7px 5px 0 0;">
                提醒发货
            </a>
            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default item-btn-right" style="margin:7px 5px 3px 0;"
               ng-click="goToSalesReturn(detailsInfo.order_number,detailsInfo.total_price,1)">
                申请退款
            </a>
        </div>

        <!-- 待收货 -->
        <div ng-if="detailsInfo.status == 'DELIVERING' || detailsInfo.status == 'DELIVERED_CONFIRM_PENDING'">
            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_warn item-btn-right" style="margin:7px 5px 3px 0;">
                确认
            </a>
            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default item-btn-right" style="margin:7px 5px 3px 0;"
               ng-click="goToSalesReturn(detailsInfo.order_number,detailsInfo.total_price,2)">
                申请退货
            </a>
        </div>

        <!-- 已完成 -->
        <a ng-if="detailsInfo.status == 'CLOSED_CONFIRMED' || detailsInfo.status == 'CLOSED_REFUNDED'"
           href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default item-btn-right" style="margin:7px 5px 3px 0;"
           ui-sref="express({orderNumber:items.order_number})">
            物流详情
        </a>
    </div>

</div>