#commonProblem{
    background-color: #F8F8F8;
    height: 100%;
}

#commonProblem .comm-title-img img{
    width: 100%;
    height: 160px;
}

#commonProblem #comm-pro-content{
    /*margin-top: 5px;*/
    overflow-x: hidden;
    overflow-y: scroll;
    /*border-top: 1px solid #cccccc;*/
}

#comm-pro-content .comm-pro-item{
    height: 42px;
    background-color: white;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

#comm-pro-content .comm-pro-item .numberImg{
    width: 17px;
    height: 17px;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    margin-top: 11px;
    margin-left: 10px;
    border: 1px solid #7c7c7c;
    border-radius: 50%;
}

#comm-pro-content .comm-pro-item span{
    font-size: 16px;
    color: #676D6E;
    line-height: 42px;
    margin-left: 37px;
    position: absolute;
}

#comm-pro-content .comm-pro-item-arrow{
    width: 8px;
    height: 15px;
    margin-top: 12px;
    margin-right: 10px;
    background-size: 8px 15px;
    background-repeat: no-repeat;
    background-image: url(../../img/my/commonProblem/item-arrow.png);
    float: right;
}



/*售后政策*/
#disProblemPage{
    padding-top: 15px;
    background-color: #FFFFFF;
}

#disProblemPage .problem-title{
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color:white;
    border-radius: 10px;
    background-color: #FF4B00;
    margin-left: 7px;
}

#disProblemPage .problem-content{
    margin: 7px;
}


#commonProblem ul, #disProblemPage ul {
    padding-left: 20px;
}

#commonProblem li, #disProblemPage li {
    padding-top: 10px;
}


#commonProblem li, #disProblemPage li img{
    width: 100%;
    height: auto;
}


#commonProblem .title, #disProblemPage .title {
    font-weight: normal;
}



/*
/!*常见问题*!/
#commProblemPage{
    background-color: #FFFFFF;
}

/!*商品配送*!/
#disProblemPage{
    background-color: #FFFFFF;
}*/
