#my .order_grid_img{
    width: 35px;
    height: 35px;
}

.my-page-head {
    width: 100%;
    height: 85px;
    padding: 10px 0 10px 0;
    background-color: #C20403;
    /*background-image: url(../../img/my/user-background.png);*/
}
.my-page-head .user-photo{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: .80rem;
    margin-left: .80rem;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
}
.my-page-head img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.my-page-head .user-info {
    /*padding-top: 5px;*/
    margin-left: 115px;
    position: relative;
}
.user-detail {
    min-width: 200px;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
    float: left;
}

.user-info .user-settings{
    width: 60px;
    height: 65px;
    text-align: center;
    right: 10px;
    margin-top: 13px;
    position: absolute;
}

.user-info .user-settings img{
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
}

.user-info .user-settings div{
    font-size: 14px;
    color: white;
}

.user-detail .user-lv-text{
    min-width: 120px;
    font-size: 13px;
    line-height: 1.6;
    color: #fff;
    position: relative;
}

#kqdGrids .list-border {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}

#kqdGrids .weui_grid{
    padding: 10px 10px;
}

#my .weui_grid .weui_grid_label{
    color: #757575;
    font-weight: 300;
}

#myOrder .weui_cells:after {
    border-bottom: 0;
}

#kqdGrids .kqd_grid_label_top {
    color:#484A49;
    font-size: 13px;
    margin-top: 0;
}
#kqdGrids .weui_grids:before {
    border-top: 0;
}
#kqdGrids .weui_grid:before {
    border-right: 0;
}
#kqdGrids .weui_grid:after {
    border-bottom: 0;
}

#my .weui_cells_access.kqd_cells_top {
    margin-top: 0;
}
#my .weui_cell.kqd_cell_padding {
    padding: 10px 10px;
}
#my .weui_cell_ft.kqd_cell_ft_font {
    font-size: 14px;
}

