.my-page-head {
    width: 100%;
    height: 85px;
    padding: 10px 0 10px 0;
    background-image: url(../../img/my/user-background.png);
}
.my-page-head .user-photo{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: .80rem;
    margin-left: .80rem;
    border-radius: 50%;
    border: 2px solid #fff;
}
.my-page-head img{
    width: 80px;
    height: 80px;
}

.my-page-head .user-info {
    padding-top: 18px;
}
.user-detail {
    min-width: 200px;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    float: left;
}

.kqd_grid_4{
    width: 25%;
}


.weui_grids:before {
    border-top: 0;
}
.weui_grid:before {
    border-right: 0;
}

.kqd_grid_img_large {
    width: 60px;
    height: 60px;
}
.weui_cells_access.kqd_cells_top {
    margin-top: 0;
}
.weui_cell.kqd_cell_padding {
    padding: 20px 15px;
}
.weui_cell_ft.kqd_cell_ft_font {
    font-size: 14px;
}
