/**
 * 申请退货
 *
 * @author Jimmie Hwang
 * @create 2016/6/16
 *
 */

#salesReturn {
    position: relative;
    height:100%;
    background: #ececec;
}

#salesReturn .bg {
    background: #ececec;
}


#salesReturn .weui_cells_form {
    margin-top:0;
}

#salesReturn .weui_cell:before {
    border: none;
}

#salesReturn .apply, #salesReturn .reason {
    padding-left: 15px;
    margin-bottom: 10px;
}

#salesReturn .pad {
    padding-top: 15px;
    padding-bottom: 15px;
}

#salesReturn .add {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 13px;
    background: url("../../images/img.png") 20px 20px no-repeat;
    background-size: 50%;
}


#salesReturn .weui_uploader_input_wrp:after, #salesReturn .weui_uploader_input_wrp:before, #salesReturn .weui_uploader_input_wrp {
    position: static;
}

#salesReturn .weui_select {
    padding-left: 5px;
}

#salesReturn　.weui_uploader_input_wrp:after {
    width: 0;
}

#salesReturn .weui_uploader_input {
    position: static;
}

#salesReturn .explain {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #c8c8cd;

}

#salesReturn .returnMon {
    padding-left:8px;
    color: #D40000;;
}

#salesReturn .weui_cell_hd, #salesReturn .mon p {
    color: #979797;
}

#salesReturn .sub {
    position: absolute;
    bottom: -40px;
    width: 100%;
}