<div id="wholesale">
    <!-- 地区设置 -->
    <div class="default-content" ng-if="is_crown">

        <div class="select-pcd" ng-click="goToAddressAction()">
            <div class="select-pcd-text">地址管理</div>
            <div class="select-pcd-arrow">
                <i></i>
            </div>
            <!--<div id="wholesale_pcd">
                <input id="city-picker" type="text" placeholder="广东省 广州市 白云区" class="select-pcd-input"
                       ng-model="pcd" ng-readonly="true" ng-click="keyboard_hidden()">
            </div>-->
        </div>
        <div class="pcd-content">

            <div class="wholesale-region-null" ng-if="region_is_null">
                <div class="add-address-btn weui_btn_primary" ng-click="add_address_action()">
                    <span>添加收货地址</span>
                    <i class="add-address-btn-img" ng-if="false"></i>
                </div>
                <div class="wholesale-region-tips custom_text_primary">
                    <span>温馨提示: 由于不同区域的价格及品类有所差异,请先填写详细收货地址确认,下单时注意该商品在该区域的供售价!</span>
                </div>
            </div>

            <div class="default-wholesale-region" ng-if="!region_is_null">


                <div class="weui_panel_bd">
                    <div class="weui_media_box weui_media_text">
                        <div class="selectContact">
                            <h4 class="weui_media_desc">
                                <span>{{default_pcd.contact_user}}</span> <span style="position: absolute;right: 10px;">{{default_pcd.phone}}</span>
                            </h4>
                            <p class="weui_media_desc" style="margin-top: 10px;">
                                {{default_pcd.province}}{{default_pcd.city}}{{default_pcd.district}}
                                {{default_pcd.street}}{{default_pcd.street_number}} {{default_pcd.detail}}
                            </p>
                        </div>
                        <ul class="weui_media_info" style="border-top: 1px solid #cccccc;">
                            <li class="weui_media_info_meta" style="width: 30%;">
                                <input class="address-checkbox" id="add" type="checkbox" value="默认地址"
                                       ng-model="contact.id_default" ng-checked="true" ng-disabled="true">
                                <label id="address-manager-check" for="add"  class="ion-ios-checkmark active address-check-label"></label>
                                <div class="address-check-text custom_text_primary_medium">已设为默认</div>
                            </li>

                            <li class="weui_media_info_meta weui_media_info_meta_extra"
                                style="padding-top: 4px; float: right; border-left: 0;"
                                ng-click="deleteContactAction(default_pcd.id)">
                                <img src="img/my/address/delete-img.png" style="width: 15px; height: 15px; position: absolute;">
                                <a href="" style="margin-left: 20px;">删除</a>
                            </li>
                            <li class="weui_media_info_meta"
                                style="padding-top: 4px; float: right;"
                                ng-click="editAddressAction(default_pcd)">
                                <img src="img/my/address/edit-img.png" style="width: 15px; height: 15px; position: absolute;">
                                <a href="" style="margin-left: 20px;">编辑</a>
                            </li>
                        </ul>

                        <div class="wholesale-region-tips custom_text_primary">
                            <span>温馨提示: 由于不同区域的价格及品类有所差异,请先填写详细收货地址确认,下单时注意该商品在该区域的供售价!</span>
                        </div>

                    </div>
                </div>


            </div>

        </div>

        <div class="wholesale-region-null-message" ng-if="region_is_null">
            <div class="null-message custom_text_primary">请先填写详细收货地址</div>
        </div>

        <div class="select-btn" ng-click="goToWholesaleGoodsList(region_is_null)">
            <div class="btn-ok-text">确认</div>
            <div class="btn-check-text">查看商品</div>
        </div>

    </div>

    <!-- 是否皇冠经销商 -->
    <div class="partner-content" ng-if="!is_crown">

        <div class="is-not-crown">

            <div class="crown-text">
                <span>"您还不是皇冠经销商无权查看,请先申请皇冠经销商"</span>

                <div class="crown-btns">
                    <div class="apply-btn custom_text_primary" ng-click="crownApplyAction()">
                        <span>皇冠申请 >></span>
                    </div>
                    <div class="cencal-btn" ng-click="crownApplyCancelAction()">
                        <span>暂不申请 >></span>
                    </div>
                </div>
            </div>

            <div class="crown-text" ng-if="false">
                <span>"您还不是皇冠经销商无权查看,请与您的推荐人某某联系授权"</span>
            </div>


        </div>

    </div>
</div>