<div id="wholesale">
    <!-- 地区设置 -->
    <div class="default-content" ng-if="!is_crown">

        <div class="select-pcd">
            <div class="select-pcd-text">地址管理</div>
            <div class="select-pcd-arrow">
                <i></i>
            </div>
            <!--<div id="wholesale_pcd">
                <input id="city-picker" type="text" placeholder="广东省 广州市 白云区" class="select-pcd-input"
                       ng-model="pcd" ng-readonly="true" ng-click="keyboard_hidden()">
            </div>-->
        </div>
        <div class="pcd-content">

            <div class="wholesale-region-null">
                <div class="add-address-btn weui_btn_primary">
                    <span>添加收货地址</span>
                    <i class="add-address-btn-img" ng-if="false"></i>
                </div>
                <div class="wholesale-region-tips custom_text_primary">
                    <span>温馨提示: 为了您能准确看到该区域商品批发价格, 请先填写详细收货地址</span>
                </div>
            </div>
            <div class="default-wholesale-region"></div>

        </div>

        <div class="wholesale-region-null-message">
            <div class="btn-ok-text custom_text_primary">确认</div>
            <div class="btn-check-text custom_text_primary">查看商品</div>
        </div>

        <div class="select-btn" ng-click="goToWholesaleGoodsList()">
            <div class="btn-ok-text custom_text_primary">确认</div>
            <div class="btn-check-text custom_text_primary">查看商品</div>
        </div>

    </div>

    <!-- 是否皇冠经销商 -->
    <div class="partner-content" ng-if="is_crown">

        <div class="is-not-crown">

            <div class="crown-text">
                <span>"您还不是皇冠经销商无权查看,请先申请皇冠经销商"</span>

                <div class="crown-btns">
                    <div class="apply-btn custom_text_primary" ng-click="crownApplyAction()">
                        <span>皇冠申请 >></span>
                    </div>
                    <div class="cencal-btn" ng-click="crownApplyCancelAction()">
                        <span>暂不申请 >></span>
                    </div>
                </div>
            </div>

            <div class="crown-text" ng-if="false">
                <span>"您还不是皇冠经销商无权查看,请与您的推荐人某某联系授权"</span>
            </div>


        </div>

    </div>
</div>