<div id="applyNotice" ng-if="!youIsAgent">

    <div class="apply-notice-head custom_text_primary">
        申请须知
    </div>
    <div class="apply-notice-title">
        {{apply_notice.name}}
    </div>
    <div class="apply-notice-content" ng-bind-html="apply_notice.content | to_trusted">
    </div>

    <div class="confirm-content" ng-if="false">
        <div class="confirm-notice">
            <input class="address-checkbox" id="add" type="checkbox" value="默认地址"
                   ng-model="isReadNotice">
            <label id="address-manager-check" for="add"  class="ion-ios-checkmark active address-check-label"></label>
            <div class="address-check-text custom_text_primary_medium">已阅览须知</div>
        </div>

    </div>

    <div class="confirm-content">
        <div class="confirm-btn">
            <div class="ok-btn weui_btn_primary" ng-click="ok_action()">
                <span>同意</span>
            </div>
            <div class="cancel-btn not-read-notice" ng-click="cancel_action()">
                <span>不同意</span>
            </div>
        </div>
    </div>
</div>

<div id="youIsAgent" ng-if="youIsAgent">

    <!-- 是否皇冠经销商 -->
    <div class="partner-content">

        <div class="is-not-crown">

            <div class="crown-text">
                <span>您已进是皇冠经销商,不能再授权</span>
            </div>

        </div>

    </div>
</div>