#orders{
    font-size: 14px;
    background-color: #F8F8F8;
    overflow-x: hidden;
    overflow-y: scroll;
}

#orders #nav{
    width:100%;
    height:42px;
    overflow:hidden;
    position:relative;
    background-color: #fff;
}

#orders .active {
    background-color: #dfdfdf;
}

#orders .nav-warp{
    height:42px;
    /*overflow-x:scroll;*/
    position:absolute;
    left:0;
    right:0;
}

#orders .nav-warp ul{
    height:41px;
    border-bottom:1px solid #dfdfdf;
}
#orders .nav-warp li{
    float:left;
    width:20%;
    height:41px;
    text-align:center;
    line-height:41px;
    /*border-left:1px solid #dcdcdc;*/
}

#orders .orders-hide-span{
    width: 100%;
    line-height: 42px;
    text-align: center;
}

#orders .orders-hide-span span{
    color: #c8c8cd;
    font-size: 18px;
}

/*
* all
*/
#orders .order-item{
    width: 100%;
    height: auto;
    background: white;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 4px;
    position: relative;
}

#orders .item-order-number{
    min-width: 120px;
    height: 36px;
    line-height: 36px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 13px;
    color: #757575;
    /*border-bottom:1px solid #dcdcdc;*/
    position: relative;
}
#orders .item-order-number span{
    right: 10px;
    color: red;
    position: absolute;
}

#orders .item-order-info{
    height: 71px;
    /*margin-left: 7px;*/
    /*margin-right: 7px;*/
    background-color: #F5F5F5;
    /*border-bottom:1px solid #dcdcdc;*/
}

#orders .o-i-left{
    width: 70px;
    padding-top: 10px;
    padding-left: 7px;
    float: left;
}

#orders .o-i-left img{
    width: 50px;
    height: 50px;
}

#orders .o-i-center{
    height: 71px;
    text-align: left;
    line-height: 23px;
    margin-top: 5px;
    left: 75px;
    right: 85px;
    position: absolute;
}

#orders .o-i-center span{
    font-size: 12px;
    word-wrap: break-word;;
    line-height: 20px;
}

#orders .o-i-right{
    width: 80px;
    right: 10px;
    font-size: 14px;
    text-align: right;
    position: absolute;
    padding-top: 5px;
}

#orders .o-i-right-span{
    height:18px;
    line-height: 18px;
}

#orders .o-i-right-i{
    height: 35px;
    line-height: 35px;
}



#orders .item-detail-btn{
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding-top: 5px;
    background-color: white;
    text-align: right;
}

#orders .weui_btn+.weui_btn {
    font-size: 14px;
    margin-top: 0;
    margin-right: 5px;

}

#orders .order-item-price{
    height: 36px;
    line-height: 36px;
    padding-left: 5px;
    right: 10px;
    position: absolute;
}

#orders .item-btn-right{
    width: 80px;
    align-content: center;
    float: right;
    /*position: absolute;*/
    /*right: 7px;*/
}

#orders .item-btn-left{
    width: 70px;
    align-content: center;
    float: left;
    margin-left: 5px;
    /*position: absolute;*/
    /*right: 7px;*/
}

#orders #content-footer{
    width: 100%;
    height: 50px;
    text-align: center;
}

#orders .content-footer-div{
    width:100%;
    height: 50px;
    font-size: 12px;
    color: #4E4E4E;
}

#orders .c-f-d-right{
    width:33%;
    line-height: 50px;
    text-align: right;
    float: left;
}

#orders .c-f-d-center{
    width:33%;
    line-height: 50px;
    text-align: center;
    float: left;
}

#orders .c-f-d-left{
    width:33%;
    line-height: 50px;
    text-align: left;
    float: left;
}

#orders .weui_navbar+.weui_tab_bd{
    padding-top: 41px;
}


