#myRecommend{
    background-color: #F8F8F8;
    min-height: 100%;
}

#myRecommend .my-recommend-content{
}

#myRecommend .item-stable{
    height: 44px;
    line-height: 44px;
    color:white;
    /*background-color: #C50303;*/
    text-align: center;
}

#myRecommend .item-accordion{
    background-color: white;
    padding-top: 6px;
    /*padding: 5px;*/
}


#myRecommend .order-item-text{
    font-size: 12px;
    height: 105px;
    line-height: 24px;
    color:#5D696B;
    padding-left: 10px;
    padding-right: 10px;
    /*margin-bottom: 5px;*/
    border-bottom: 1px solid #cccccc;
}

#myRecommend .orders-count{
    text-align: left;
    margin-bottom: 5px;
}

#myRecommend .orders-count p{
    width: 50%;
    float: left;
}

#myRecommend .orders-count .check-table{
    width: 50%;
    float: left;
    color:white;
}

#myRecommend .orders-count .check-table .check-table-text{
    padding: 5px 7px;
    border-radius: 5px;
}

#myRecommend .check-recommend{
    width: 60px;
    position: absolute;
    right: 5px;
    bottom: 8px;
    font-size: 10px;
}

#myRecommend .check-recommend .arrow-up{
    width: 12px;
    height: 12px;
    background-color: white;
    position: absolute;
    top: 1px;
    right: 3px;
    border-radius: 50%;
    border: 1px solid #A95296;
}
#myRecommend .check-recommend .arrow-up i{
    opacity: 1;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: transparent;
    top: 1px;
    left: 3px;
    border: 1px solid #A95296;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#myRecommend .check-recommend .arrow-down{
    width: 13px;
    height: 13px;
    background-color: #A95296;
    position: absolute;
    top: 1px;
    right: 3px;
    border-radius: 50%;
}
#myRecommend .check-recommend .arrow-down i{
    opacity: 1;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: transparent;
    top: 1px;
    left: 3px;
    border: 1px solid white;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#myRecommend .order-list-item{
    height: 70px;
    padding:7px;
    background-color: #E9EDEE;
    color: #5D696B;
    font-size: 13px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}



/*color*/
.pro-black{
    color: #3A3A3A;
}
.pro-red{
    color: #C50303;
}

#myRecommend .weui_select{
    width: 30%;
    color:#fff;
}

#myRecommend .year{
    position: absolute;
    left:0px;
    direction: ltr;
    width: 25%;
}

#myRecommend .mon{
    position: absolute;
    right:10px;
    direction: rtl;
    width: 25%;
}

#myRecommend  option{
    color: #000;
}