#sellerAuthorization{
    background-color: #F8F8F8;
    height: 100%;
}

#sellerAuthorization .weui_cells{
    margin-top: 0;
}

#sellerAuthorization .weui_cells .weui_label{
    width: 80px;
    font-size: 14px;
    text-align: right;
}

#sellerAuthorization .weui_cells .weui_input{
    font-size: 14px;
}