#feedback{
    /*background-color: #F8F8F8;*/
    height: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
}

#feedback .feedback-info{
    background-color: white;
}

#feedback .p-info-tab{
    height:40px;
    left:0;
    right:0;
}
#feedback .p-info-tab ul{
  width:100%;
  height:40px;
  border-bottom:1px solid #dfdfdf;
}
#feedback .p-info-tab li{
  float:left;
  width:49%;
  height:40px;
  text-align:center;
  line-height:40px;
  border-left:1px solid #dfdfdf;
}


#feedback #nav{
    width:100%;
    height:42px;
    overflow:hidden;
    position:relative;
    background-color: #fff;
}

#feedback .active {
    color: #FF5336;
    border-bottom: 2px solid #FF5336;
}

#feedback .nav-warp{
    height:40px;
    /*overflow-x:scroll;*/
    position:absolute;
    left:0;
    right:0;
}

#feedback .nav-warp ul{
    width:100%;
    height:40px;
    border-bottom:1px solid #ECECEC;
}
#feedback .nav-warp li{
    float:left;
    width:49.2%;
    height:40px;
    text-align:center;
    line-height:40px;
    border-left:1px solid white;
}

#feedback .p-details{
    width:100%;
    background-color: #efeff3;
}

#feedback .a-p-text{
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    padding-left: 10px;
}

#feedback .a-p-span{
    margin-left: 10px;
    color: #9D9D9D;
}

#feedback .p-details .weui_cells{
    margin-top: 0;
}


#feedback .p-parameter{
    width:100%;
    background-color: #F8F8F8;
}

#feedback .p-parameter .weui_cells{
    margin-top: 0;
}


#feedback .weui_uploader{
    padding-left: 12px;
    padding-top: 12px;
    background-color: white;
}


#feedback .footer {
    width: 100%;
    clear:both;
    position: fixed;
    /*z-index: 101;*/
    /*border-top: 1px solid #cccccc;*/
    background:white;
    bottom: 0;
}


/*
#feedback .footer-img {
    width: 100%;
    height: 80px;
    margin-top: 20px;
}
#feedback .footer-img img {
    height: 80px;
}

#feedback .item-button{
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}*/
