<div id="offLineShop">

    <div class="off-line-content">

        <div class="content-item" ng-click="crown_seller_authorization_action()">
            <img src="img/sellerPage/offLineShop/crown-seller-icon.png">
            <span>皇冠经销商授权</span>
            <i></i>
        </div>

        <div class="content-item" ng-click="star_seller_authorization_action()">
            <img src="img/sellerPage/offLineShop/star-seller-icon.png">
            <span>星级经销商授权</span>
            <i></i>
        </div>

    </div>

</div>