<div class="">


    <div class="coll-text">
        <span class="coll-text-left" style="font-size: 16px;">购物车</span>
        <span class="coll-text-right" ng-click="edit_action()">{{edit_action_text}}</span>
        <i class="edit-img" ng-click="edit_action()" ng-hide="edit_action_img"></i>
    </div>

    <div class="view-cart">
        <!--<header class="header cart-header">-->
            <!--<span class="cart-title">购物车</span>-->
        <!--</header>-->

        <div id="empty-cart-content" ng-hide="empty_cart_hide">
            
            <div class="empty-cart-img">
                <img src="img/cart/cart-null.png">
            </div>

            <div class="empty-cart-text">
                <span>购物车快饿瘪了T.T</span>
                <div>主人快给我挑点宝贝吧</div>
            </div>

            <div class="empty-cart-button" ui-sref="home.homePage">
                <span>去逛逛</span>
            </div>
        </div>
        <form ng-hide="cart_info_hide">
            <div class="view-container">
                <div class="">

                    <ul class="cart-list" ng-repeat="cart in carts">
                        <li class="">
                            <div class="">
                                <input class="cart-checkbox" type="checkbox" id="check{{cart.id}}" ng-model="cart.$checked" ng-change="checkItem(cart)">
                                <label class="ion-ios-checkmark cart-item-label" for="check{{cart.id}}"></label>
                            </div>
                            <div class="item-info">
                                <a href="" class="item-image" ui-sref="details({productId:cart.product_id})">
                                    <img ng-src="{{cart.cover}}">
                                </a>
                                <div class="">
                                    <a  ui-sref="details({productId:cart.product_id})"><h4 class="item-title">{{cart.product_name}}</h4></a>
                                    <div class="item-info-bottom">

                                        <div class="item-price-position" ng-hide="cart_item_price">
                                            <span class="item-price">{{cart.price|currency:'￥'}}</span>
                                            <span class="ion-close">x {{ cart.quantity }}</span>
                                        </div>

                                        <div class="cart-quantity-form-position" ng-hide="cart_item_quantity">
                                            <div class="cart-quantity-form">
                                                <a href="javascript:void(0);" class="cart-quantity-decrement" ng-click="downQuantity(cart.product_id)">
                                                    <span>-</span>
                                                </a>
                                                <input autocomplete="off" class="cart-quantity" value="{{ cart.quantity }}" type="text" readonly>
                                                <a href="javascript:void(0);" class="cart-quantity-increment"  ng-click="upQuantity(cart.product_id)">
                                                    <span>+</span>
                                                </a>
                                            </div>
                                            <img class="ion-close" src="img/cart/close.png" ng-click="showDeleteConfirm(cart.product_id)"/>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <footer id="foot" class="cart-foot">
                <div class="footLeft">
                    <input class="cart-checkbox" type="checkbox" value="全不选" id="selectAll" ng-model="$allChecked" ng-change="checkAll()">
                    <label id="checkAll" class="ion-android-checkbox-outline-blank active cart-item-label" for="selectAll"></label>
                    <div class="check-text">全选</div>
                    <div class="foot-info">
                        <div>合计:<strong style="display: inline" ng-bind="totalToPay()|currency:'￥'"></strong></div>
                        <span style="font-size: 12px;">运费:<span ng-bind="totalFreight()|currency:'￥'"></span></span>
                    </div>
                </div>
                <button class="footRight" ng-click="goSettlement(totalToPay(),totalFreight())" ng-disabled="!someChecked()">
                    <div>
                        去结算
                    </div>
                </button>
            </footer>
        </form>
    </div>
</div>
