.weui_tabbar_item.weui_bar_item_on .weui_tabbar_label {
    color: #c20000;
}

.weui_tabbar_icon+.weui_tabbar_label  {
    margin-top: 5px;
    margin-bottom: 3px;
}

.weui_tabbar_item .weui_tabbar_icon{
    width: 29px;
    color: black;
    font-size: 32px;
    text-align: center;
}

.weui_tabbar_item .home_tab_icon_color{
    color: #c20000;
}

