body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: PingFang-SC-Regular,Helvetica Neue,Helvetica,microsoft yahei,sans-serif
}

.page, body {
    /*background-color: #F8F8F8*/
}

#content{
    overflow-x: hidden;
    overflow-y: scroll;
}

#content .hd {
    width: 100%;
    height: 45px;
    /*background: #4b8bf4;*/
    position: relative;
}

#content .home-logo{
    width: 80px;
    height: 45px;
    padding-left: 5px;
    background-color: #EFEFF4;
    position: absolute;
}

#content .home-logo img{
    width: 80px;
    height: 30px;
    margin-top:7px;
}

#content .home-title-center{
    left: 85px;
    right: 70px;
    height: 45px;
    position: absolute;
}

#content .home-title-right{
    width: 70px;
    height: 45px;
    right: 0;
    text-align: center;
    background-color: #EFEFF4;
    position: absolute;
}

#content .home-title-right img{
    width: 21px;
    height: 17px;
    margin-top: 5px;
    right: 0;
}

#content .home-title-right div{
    font-size: 12px;
    color: #9B9B9B;
}

#content #ad{
    height: 180px;
    /*background: #cccccc;*/
}

/*¹¦ÄÜµ¼º½*/
#content #nav{
    /*height:160px;*/
    height:100px;
    background-color:#fff;
    overflow:hidden;
    box-shadow:0 1px 1px #ebebeb;
    margin-bottom: 8px;
}
/*#home #nav span{
  display:block;
  float:left;
  width:25%;
  height:60px;
  margin-top:16px;
}*/

#content #nav .group-span-top{
    display:block;
    float:left;
    width:25%;
    height:60px;
    margin-top:16px;
}

#content #nav span img{
    display:block;
    width:40px;
    height:40px;
    margin:0 auto;
}
#content #nav span h2{
    font-size:14px;
    font-weight: 300;
    text-align:center;
    margin-top: 10px;
    color: #9B9B9B;
}

#content .home_grid{
    width: 25%;
}


#content .panic-buying-ad {
    margin: 8px 10px 10px 8px;
}
#content .panic-buying-ad .ad-1{
    width: 100%;
    height: 140px;
    /*background: #cccccc;*/
}
#content .panic-buying-ad .ad-1 img{
    width: 100%;
    height: 140px;
    /*background: #cccccc;*/
}

#content .panic-buying-ad .ad-2{
    height: 140px;
    margin-top: 5px;
}
#content .panic-buying-ad .ad-2 img{
    width: 100%;
    height: 140px;
    /*background: #cccccc;*/
}


#content .panic-buying-ad .ad-3{
    height: 140px;
    background: #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content .panic-buying{
    height: 108px;
}

#content .p-buying-left{
    float: left;
    width: 49%;
    height: 105px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

#content .p-b-left{
    width: 40%;
    padding-top: 25px;
    float: left;
}

#content .p-b-left img{
    width: 55px;
    height: 55px;
    background-color: #007aff;
    float: right;
}

#content .p-b-right{
    height: 55px;
    padding-top: 24px;
    margin-left: 5px;
    float: left;
}

#content .p-buying-right{
    float: right;
    width: 49%;
    height: 105px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}


#content .s-size-area{
    width:100%;
    margin-bottom: 10px;
}

#content .s-area-img{
    width:100%;
    height:180px;
}

#content .s-area-img img{
    width:100%;
    height:180px;
}

#content .area-product{
    margin-top: 5px;
    margin-bottom: 10px;
}

#content .a-p-left{
    width: 35%;
    height: 210px;
    float: left;
}
#content .a-p-left-top-img img{
    width: 100%;
    height: 50px;
}

#content .a-p-left-bottom-img{
}

#content .a-p-left-bottom-img img{
    width: 100%;
    height: 158px;
}

#content .a-p-right{
    width: 100%;
    height: 210px;
    float: left;
}

#content .a-p-right-item{
    width: 30%;
    height: 100px;
    float: left;
}

#content .a-p-right-item img{
    width: 100%;
    height: 103px;
}








/*#content .box-header{
    margin-left: 5px;
}

#content .box{
    font-size: 12px;
    margin-top: 6px;
}

#content .box-img{
    width: 100%;
    height: 105px;
    background: #de7c23;
}

#content .box-text{
    width: 100%;
    height: 45px;
    background: #84DE7E;
}

#content .box-footer-text{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #DE8BD4;
}*/

#content #m-size-area{
    margin-bottom: 10px;
}

#content .m-area-img{
    width:100%;
    height:180px;
    background: #e42112;
}

#content #l-size-area{
    margin-bottom: 10px;
}

#content .l-area-img{
    width:100%;
    height:180px;
    background: #FD971F;
}

#content #content-footer{
    width: 100%;
    height: 50px;
    text-align: center;
}

#content .content-footer-div{
    width:100%;
    height: 50px;
    font-size: 12px;
    color: #4E4E4E;
}

#content .c-f-d-right{
    width:33%;
    line-height: 50px;
    text-align: right;
    float: left;
}

#content .c-f-d-center{
    width:33%;
    line-height: 50px;
    text-align: center;
    float: left;
}

#content .c-f-d-left{
    width:33%;
    line-height: 50px;
    text-align: left;
    float: left;
}



/* common style*/
.c-left{
    float: left;
}
.c-right{
    float: right;
}
.clear{
    float: none;
}