#coupon{
    /*background-color: #F8F8F8;*/
    min-height: 100%;
    font-family: "";
}

#coupon i{
    font-style: normal;
}

#coupon .coupon-content{

}

#coupon #nav{
    width:100%;
    height:42px;
    overflow:hidden;
    position:fixed;
    background-color: #fff;
    z-index: 3;
}

#coupon .active {
    /*background-color: #dfdfdf;*/
    color: #734284;
}
#coupon .active span{
    padding: 13px 0;
    border-bottom: 2px solid #734284;
}

#coupon .nav-warp{
    height:42px;
    /*overflow-x:scroll;*/
    position:absolute;
    left:0;
    right:0;
}

#coupon .nav-warp i{
    color:red;
}

#coupon .nav-warp ul{
    width:100%;
    height:42px;
}
#coupon .nav-warp li{
    float:left;
    width:25%;
    height:42px;
    text-align:center;
    line-height:42px;
    list-style: none;
    font-size: 13px;
    position: relative;
    font-weight: 500;
}

#coupon .nav-warp li .ver_line{
    height: 16px;
    border-left: 1px solid #999999;
    position: absolute;
    top: 13px;
    left: 0;
}




#coupon .pro{
    width:100%;
    overflow:hidden;
    padding-top: 42px;
}

#coupon .null_position{
    text-align: center;
    margin-top: 20px;
}

#coupon .pro-item{
    /*width:100%;*/
    height:80px;
    margin: 5px 5px 0 5px;
    background-color:white;
    /*border: 1px solid #734284;*/
    position: relative;
}

#coupon .pro-item .p-i-left-non{
    width:100%;
    height:100%;
    background-color:white;
    float: left;
}
#coupon .pro-item .p-i-left-non .l-top{
    width:100%;
    height: 45px;
    padding-top: 17px;
}
#coupon .pro-item .p-i-left-non .l-t-left{
    width: 78px;
    height: 45px;
    line-height: 47px;
    font-size: 48px;
    text-align: center;
    float: left;
    font-family: "Microsoft YaHei";
}

#coupon .pro-item .p-i-left-non .l-t-right{
    /*width: 55%;*/
    height: 45px;
    text-align: left;
    position: absolute;
    left: 80px;
    right: 73px;
}
#coupon .pro-item .p-i-left-non .l-t-right .r-top{
    /*width: 100%;*/
    height: 35px;
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
}
#coupon .pro-item .p-i-left-non .l-t-right .r-top .r-top-coupon-type{
    width: 68px;
    float: left;
    margin-right: 4px;
}

#coupon .pro-item .p-i-left-non .l-t-right .r-top .r-top-des{
    height: 35px;
    line-height: 15px;
    color: #D4A9CB;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
}
#coupon .pro-item .p-i-left-non .l-t-right .r-bottom{
    /* width: 100%; */
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #999898;
}

#coupon .pro-item .p-i-left-non .non-btn{
    position: absolute;
    top: 25px;
    right: 2%;
    font-size: 12px;
}
#coupon .pro-item .p-i-left-non .non-btn .weui_btn.weui_btn_mini{
    line-height: 1.9;
    font-size: 12px;
    padding: 3px 10px;
}



#coupon .pro-item .p-i-left{
    width:100%;
    height:100%;
    background-color:white;
    float: left;
}
#coupon .pro-item .p-i-left .l-top{
    width:100%;
    height: 45px;
    padding-top: 17px;
}
#coupon .pro-item .p-i-left .l-t-left{
    width: 78px;
    height: 45px;
    line-height: 47px;
    font-size: 48px;
    text-align: center;
    float: right;
    font-family: "Microsoft YaHei";
}

#coupon .pro-item .p-i-left .l-t-right{
    /*width: 55%;*/
    height: 45px;
    text-align: left;
    position: absolute;
    left: 9px;
    right: 90px;
}
#coupon .pro-item .p-i-left .l-t-right .r-top{
    /*width: 100%;*/
    height: 35px;
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
}
#coupon .pro-item .p-i-left .l-t-right .r-top .r-top-coupon-type{
    width: 68px;
    float: left;
    margin-right: 4px;
}

#coupon .pro-item .p-i-left .l-t-right .r-top .r-top-des{
    height: 35px;
    line-height: 15px;
    color: #D4A9CB;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
}
#coupon .pro-item .p-i-left .l-t-right .r-bottom{
    /* width: 100%; */
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #999898;
}







#coupon .c-red-point{
    position: absolute;
    top: 8px;
    right: calc(50% - 15px);
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}


