#coupon{
    /*background-color: #F8F8F8;*/
    min-height: 100%;
    font-family: "";
}

#coupon i{
    font-style: normal;
}

#coupon .coupon-content{

}

#coupon #nav{
    width:100%;
    height:42px;
    overflow:hidden;
    position:relative;
    background-color: #fff;
    z-index: 3;
}

#coupon .active {
    /*background-color: #dfdfdf;*/
    color: #734284;
}
#coupon .active span{
    padding: 13px 0;
    border-bottom: 2px solid #734284;
}

#coupon .nav-warp{
    height:42px;
    /*overflow-x:scroll;*/
    position:absolute;
    left:0;
    right:0;
}

#coupon .nav-warp i{
    color:red;
}

#coupon .nav-warp ul{
    width:100%;
    height:42px;
}
#coupon .nav-warp li{
    float:left;
    width:25%;
    height:42px;
    text-align:center;
    line-height:42px;
    list-style: none;
    font-size: 13px;
    position: relative;
    font-weight: 500;
}

#coupon .nav-warp li .ver_line{
    height: 16px;
    border-left: 1px solid #999999;
    position: absolute;
    top: 13px;
    left: 0;
}




#coupon .pro{
    width:100%;
    overflow:hidden;
}

#coupon .null_position{
    text-align: center;
    margin-top: 20px;
}

#coupon .pro-item{
    /*width:100%;*/
    height:80px;
    margin: 5px 5px 0 5px;
    background-color:white;
    border: 1px solid #734284;
    position: relative;
}

#coupon .pro-item .p-i-left{
    width:55%;
    height:100%;
    color: white;
    /*background-color:#A75295;*/
    background: -webkit-linear-gradient(top, #CD8EC0 0%, #CD8EC0 50%, #A75295 50%,#A75295 100%);
    float: left;
}
#coupon .pro-item .p-i-left .l-top{
    width:100%;
    height: 45px;
    padding-top: 17px;
    /*background-color: rgba(195,133,182,1);*/
}
#coupon .pro-item .p-i-left .l-t-left{
    width: 45%;
    height: 45px;
    line-height: 47px;
    font-size: 50px;
    text-align: right;
    float: left;
    font-family: fantasy;
}

#coupon .pro-item .p-i-left .l-t-right{
    width: 55%;
    height: 45px;
    text-align: left;
    float: left;
}
#coupon .pro-item .p-i-left .l-t-right .r-top{
    width: 100%;
    height: 12px;
    font-size: 14px;
    /* vertical-align: bottom; */
    /*-webkit-transform: scale(0.95);*/
    padding-top: 2px;
    margin-bottom: 4px;
}
#coupon .pro-item .p-i-left .l-t-right .r-bottom{
    width: 100%;
    height: 20px;
    font-size:20px;
}

#coupon .pro-item .p-i-right{
    width:45%;
    height:100%;
    color: #999898;
    background-color:white;
    text-align: left;
    float: left;
}

#coupon .pro-item .p-i-right .r-top{
    width:100%;
    height:50%;
    background-color:white;
    float: left;
    position: relative;
}

#coupon .pro-item .p-i-right .r-top span{
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 14px;
}

#coupon .pro-item .p-i-right .r-bottom{
    width:100%;
    height:50%;
    background-color:white;
    float: left;
    position: relative;
}

#coupon .pro-item .p-i-right .r-bottom span{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 13px;
}


/* NON_ACTIVATION Î´¼¤»î*/
#coupon .pro-item .p-i-right-non{
    width:45%;
    height:100%;
    color: #999898;
    background-color:white;
    text-align: left;
    float: left;
}

#coupon .pro-item .p-i-right-non .r-top-non{
    width:100%;
    height:50%;
    background-color:white;
    float: left;
    position: relative;
}

#coupon .pro-item .p-i-right-non .r-top-non span{
    position: absolute;
    left: 4px;
    bottom: 0;
    font-size: 12px;
    /*-webkit-transform: scale(0.95);*/
}

#coupon .pro-item .p-i-right-non .r-bottom-non{
    width:100%;
    height:50%;
    background-color:white;
    float: left;
    position: relative;
}

#coupon .pro-item .p-i-right-non .r-bottom-non span{
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 12px;
}

#coupon .pro-item .p-i-right-non .non-btn{
    position: absolute;
    top: 5px;
    right: 2%;
    font-size: 12px;
}
#coupon .pro-item .p-i-right-non .non-btn .weui_btn.weui_btn_mini{
    line-height: 1.9;
    font-size: 12px;
    padding: 1px 5px;
}


