<div id="offLineShop">

    <div class="off-line-content">

        <div class="content-item" ng-click="seller_team_action()">
            <img src="img/sellerPage/offLineShop/seller-team-img.png">
            <span>经销团队</span>
            <i></i>
        </div>

        <div class="content-item" ng-click="seller_authorization_action()">
            <img src="img/sellerPage/offLineShop/seller-authorization-img.png">
            <span>经销授权</span>
            <i></i>
        </div>

        <div class="content-item" ng-click="my_recommend_action()">
            <img src="img/sellerPage/offLineShop/my-recommend-img.png">
            <span>我的推荐</span>
            <i></i>
        </div>

        <div class="content-item" ng-click="withdraw_apply_action()">
            <img src="img/sellerPage/offLineShop/apply_money_icon.png">
            <span>申请提现</span>
            <i></i>
        </div>

        <div class="content-item" ng-click="offLine_exchange_record_action()">
            <img src="img/sellerPage/offLineShop/operation_record_icon.png">
            <span>提现记录</span>
            <i></i>
        </div>

    </div>

</div>