<div id="collection">

    <div class="coll-text">
        <span class="coll-text-left">最近一个月的收藏</span>
        <span class="coll-text-right" ng-click="edit_action()">{{edit_action_text}}</span>
        <i class="edit-img" ng-click="edit_action()" ng-hide="edit_action_img"></i>
    </div>

    <div class="coll-null" ng-hide="coll_null">
        <span>没有收藏商品</span>
    </div>

    <div class="collection-content" ng-hide="coll_content_null">

        <div class="coll-list-item" ng-repeat="conItem in collection_list" ui-sref="details({productId:conItem.id})">
            <img ng-src="{{conItem.cover}}">
            <div class="coll-item-info">
                <div style="font-size: 13px; word-wrap: break-word; word-break: normal;">{{conItem.name | cutText:true:35:"..."}}</div>
                <div style="color: #EA0303;">价格：{{conItem.price|currency:"￥"}}</div>
                <div style="color: #959595;">市场价：{{conItem.suggested_price|currency:"￥"}}</div>
                <img class="coll-item-close" ng-hide="coll_item_close" src="img/my/collection/close.png" ng-click="delete_coll_item(conItem.id)"/>
            </div>
        </div>

    </div>

</div>