<div id="commission">

    <div id="comm-content">

        <div>
            <div ng-repeat="group in groups">
                <div class="item-stable"
                     ng-click="toggleGroup(group)"
                     ng-class="{active: isGroupShown(group)}"
                        >
                    2016-05-17
                    <i class="item-arrow-right"></i>
                </div>
                <div class="item-accordion"
                     ng-repeat="item in group.items"
                     ng-show="isGroupShown(group)"
                        >

                    <div class="item-accordion-head">
                        <div>
                            本月总收入：5658.00元
                        </div>
                        <div>
                            已结算收入：3720.00元 未结算收入：2107.00元
                        </div>
                    </div>

                    <table class="commission-item-table">

                        <tr style="height: 42px; color:#9D9D9D;">
                            <td>
                                一级分销商
                            </td>
                            <td>185</td>
                            <td>￥1276.00</td>
                        </tr>

                        <tr style="height: 32px;  color:#9D9D9D;">
                            <td>二级分销商</td>
                            <td>568</td>
                            <td>￥1368.00</td>
                        </tr>

                        <tr style="height: 32px;  color:#9D9D9D;">
                            <td>三级分销商</td>
                            <td>1238</td>
                            <td>￥1806.00</td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>

</div>