<div id="searchPage">

    <div class="hd" style="background-color: #AD589B;">

        <!-- 搜索框 -->
        <!--<div class="weui_search_bar home-title-center" id="search_bar">
            <form class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search" style="top: 7px;"></i>
                    <input type="search" class="weui_search_input" id="search_page_input" placeholder="搜索你想要的商品" ng-model="product_name"
                           ng-keypress="search_procudt_name($event)"/>
                </div>
            </form>
        </div>-->

        <form class="cate-search" ng-if="true" >
            <!--new search input-->
            <div class="cate-search-input">
                <div class="search_outer" ng-click="goToSearchPage()">
                    <i class="weui_icon_search"></i>
                    <!--<span class="" id="search_input">搜索你想要的商品</span>-->
                    <span class="seperator"></span>
                    <input type="search" class="search_input" id="search_page_input" ng-model="product_name"
                           placeholder="搜索你想要的商品" required ng-keypress="search_product_name($event,product_name)"/>

                </div>
            </div>
        </form>

    </div>

    <div class="bd">

        <p>热门搜索</p>
        <div class="hot-terms">
            <ul>
                <li ng-repeat="wordItem in p_hot_word" ng-click="hot_word_search(wordItem.name)">{{wordItem.name}}</li>
            </ul>
        </div>

        <p ng-if="product_name_list.length > 0">历史</p>
        <div class="history-terms">

            <ul>
                <li ng-repeat="item in product_name_list" ng-click="hot_word_search(item.product_name)">{{item.product_name}}</li>
            </ul>
        </div>
    </div>


    <div class="foot-button" ng-if="product_name_list.length > 0">
        <div class="clear-history" ng-click="clear_history()">清空历史搜索</div>
    </div>

</div>