::-webkit-scrollbar { width: 0; }/* Track & scroll thickness */

::-webkit-scrollbar-track { background-color:#00FFFFFF; }/* Track color */

::-webkit-scrollbar-thumb { background-color: #00FFFFFF;}/* Scroll color */

::-webkit-scrollbar-thumb:hover { background-color: #00FFFFFF }/* Scroll hover color */

::-webkit-scrollbar-thumb:active { background-color: #00FFFFFF }/* Scroll click & drag color */

#category{
    background-color: #efeff3;
    width: 100%;
    position: relative;
}

#category #nav{
    margin-bottom: 8px;
    border-bottom: 1px solid #E0E0E0;
}

#category #nav .first-nav{
    height: 42px;
    overflow-x:scroll;
    overflow-y: hidden;
    background-color: white;
}

#category #nav .first-nav ul{
    /*width:635px;*/
    height:42px;
}
#category #nav .first-nav ul li{
    width:105px;
    height:42px;
    font-size: 16px;
    text-align:center;
    line-height:42px;
    list-style-type: none;
    float:left;
}

#category #nav .first-nav ul li .first-current{
    color: red;
    padding-bottom: 9px;
    border-bottom: 2px solid red;
}

#category #nav .second-nav{
    height: 42px;
    overflow-x:scroll;
    overflow-y: hidden;
    background-color: white;
    border-top: 1px solid #cccccc;
}

#category #nav .second-nav ul{
    width:635px;
    height:42px;
    border-bottom:1px solid #dfdfdf;
}
#category #nav .second-nav ul li{
    width:105px;
    height:42px;
    font-size: 14px;
    text-align:center;
    line-height:42px;
    list-style-type: none;
    float:left;
}

#category #nav .second-nav ul li .second-current{
    padding: 2px 10px;
    border-radius: 15px;
    background-color: red;
    color: white;
}

#category .cate-search{
    width: 100%;
    height: 44px;
    position: relative;
    background-color: white;
    margin-bottom: 8px;
}

#category .cate-search .cate-search-input {
    left: 20px;
    right: 52px;
    height: 44px;
    position: absolute;
}

#category .cate-search .cate-search-input .search_outer{
    width: 89%;
    height: 28px;
    margin-top: 7px;
    padding-top: 2px;
    padding-left: 12px;
    background-color: #e6e6e6;
    border-radius: 12px;
}

#category .cate-search .cate-search-input .search_input{
    border: 0;
    border-left: 2px solid #cccccc;
    background-color: #e6e6e6;
    padding: 3px 16px 3px 6px;
}



#category .pro-content{
    width: 100%;
    height:700px;
    background-color: #91FFC9;
}

#category .pro-content .content{
    top: 82px;
}


