/*::-webkit-scrollbar { width: 0; }/!* Track & scroll thickness *!/*/

/*::-webkit-scrollbar-track { background-color:#00FFFFFF; }/!* Track color *!/*/

/*::-webkit-scrollbar-thumb { background-color: #00FFFFFF;}/!* Scroll color *!/*/

/*::-webkit-scrollbar-thumb:hover { background-color: #00FFFFFF }/!* Scroll hover color *!/*/

/*::-webkit-scrollbar-thumb:active { background-color: #00FFFFFF }/!* Scroll click & drag color *!/*/

#category{
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
    background-color: #efeff3;
}

#category #nav{
    margin-bottom: 2px;
    border-bottom: 1px solid #E0E0E0;
}

#category #nav .first-nav{
    height: 42px;
    overflow-x:scroll;
    overflow-y: hidden;
    background-color: white;
}

#category #nav .first-nav ul{
    width:635px;
    height:42px;
}
#category #nav .first-nav ul li{
    width:105px;
    height:42px;
    font-size: 16px;
    text-align:center;
    line-height:42px;
    list-style-type: none;
    float:left;
}

#category #nav .first-nav ul li .first-current{
    /*color: #734284;*/
    padding-bottom: 9px;
    border-bottom: 2px solid #4e3866;
}

#category #nav .second-nav{
    height: 42px;
    overflow-x:scroll;
    overflow-y: hidden;
    background-color: white;
    border-top: 1px solid #cccccc;
}

#category #nav .second-nav ul{
    width:635px;
    height:42px;
    border-bottom:1px solid #dfdfdf;
}
#category #nav .second-nav ul li{
    width:105px;
    height:42px;
    font-size: 14px;
    text-align:center;
    line-height:42px;
    list-style-type: none;
    float:left;
}

#category #nav .second-nav ul li .second-current{
    padding: 2px 6px;
    border-radius: 15px;
    /*background-color: #734284;*/
    color: white;
}

#category .cate-search{
    width: 100%;
    height: 44px;
    position: relative;
    background-color: #efeff3;
}

#category .cate-search .cate-search-input {
    left: 20px;
    right: 20px;
    height: 44px;
    position: absolute;
}

#category .cate-search .cate-search-input .search_outer{
    /*width: 89%;*/
    height: 30px;
    margin-top: 5px;
    padding-top: 2px;
    padding-left: 12px;
    background-color: white;
    border-radius: 15px;
}

#category .cate-search .cate-search-input .search_outer .search_input{
    width: 90%;
    height: 20px;
    border: 0;
    border-left: 1px solid #cccccc;
    background-color: white;
    padding: 0 0 0 6px;
}

#category .pro-content{
    width: 100%;
    height:auto;
    box-sizing: border-box;
    padding-top: 2px;
}

#category .pro-content .product-item{
    width: 50%;
    height: auto;
    padding-bottom: 4px;
}

#category .pro-content .product-item:nth-child(odd){
    float: left;
    box-sizing: border-box;
    padding-right: 2px;
    padding-left: 4px;
    background-color: #efeff3;
}

#category .pro-content .product-item:nth-child(even){
    float: left;
    box-sizing: border-box;
    padding-left: 2px;
    padding-right: 4px;
    background-color: #efeff3;
}

#category .pro-content .product-item .product-img{
    width: 100%;
    height: auto;
    position:relative;
}

#category .pro-content .product-item .product-img img{
    width: 100%;
    height: auto;
}

#category .pro-content .product-item .product-img div{
    position:absolute;
    right: 10px;
    bottom: 5px;
}

#category .pro-content .product-item .product-img div img{
    width: 75px;
    height: auto;
}

#category .pro-content .product-item .product-name{
    width: 100%;
    height: auto;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    background-color: white;
}

#category .pro-content .product-item .product-price{
    width: 100%;
    line-height: 32px;
    font-size: 14px;
    color:red;
    text-align: center;
    background-color: white;
}

#category .weui_grid{
    padding: 0;
}

#category .load-more-product {
    width: 100%;
}

#category .load-more-product .load-more-button {
    /*left: 21%;*/
    /*right: 21%;*/
    font-family: \000031;
    padding: 1px 0;
    /*border: 1px solid #989898;*/
    font-size: 14px;
    color: #BFBFBF;
    border-radius: 5px;
    text-align: center;
    bottom: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

#category .load-more-product .load-more-button:active {
    background-color: #cccccc;
    color: white;
}


#footer .topit {
    width: 48px;
    height: 48px;
    bottom: 70px;
    right: 12px;
    position: fixed;
    z-index: 1;
    opacity: 0.8;
}

#footer .topit img {
    width: 48px;
    height: 48px;
}

