#fightGroups{
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
    /*overflow: hidden;*/
    background-color: #efeff3;
}

#fightGroups .dividing_line{
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    color:#959393;
}

#fightGroups .pro-content{
    width: 100%;
    height:auto;
    box-sizing: border-box;
    overflow: hidden;
    /*margin-bottom: 42px;*/
    padding-bottom: 8px;
}

#fightGroups .pro-content .product-item{
    width: 50%;
    height: auto;
    padding-top: 4px;
}

#fightGroups .pro-content .product-item:nth-child(odd){
    float: left;
    box-sizing: border-box;
    padding-right: 2px;
    padding-left: 4px;
    background-color: #efeff3;
}

#fightGroups .pro-content .product-item:nth-child(even){
    float: left;
    box-sizing: border-box;
    padding-left: 2px;
    padding-right: 4px;
    background-color: #efeff3;
}

#fightGroups .pro-content .product-item .product-img{
    width: 100%;
    height: auto;
    position:relative;
}

#fightGroups .pro-content .product-item .product-img img{
    width: 100%;
    height: auto;
}

#fightGroups .pro-content .product-item .product-img div{
    position:absolute;
    right: 10px;
    bottom: 5px;
}

#fightGroups .pro-content .product-item .product-img div img{
    width: 75px;
    height: auto;
}

#fightGroups .pro-content .product-item .product-name{
    width: 100%;
    height: auto;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    background-color: white;
}


#fightGroups .pro-content .product-item .p-content{
    line-height: 32px;
    font-size: 14px;
    background-color: white;
    display: flex;
    padding: 0 7px 0 7px;
}

#fightGroups .pro-content .product-item .product-price{
    color:red;
    text-align: left;
    flex: 1;
    justify-content: flex-start;
}

#fightGroups .pro-content .product-item .product-buy-count{
    color:#A8A8A8;
    text-align: right;
    flex: 1;
    justify-content: flex-end;
    font-size: 12px;
}


/*拼团优惠券*/
#red-packet .r-p-content {
    height: 290px;
    margin-top: 35%;
}
#red-packet .r-p-content .bg-img {
    height: 290px;
}
#red-packet .r-p-content .bg-img .close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -5px;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

#red-packet .r-p-content .bg-img .f-g-coupon-title{
    width: 100%;
    color:white;
    font-size: 14px;
    padding-top: 8px;
}
#red-packet .r-p-content .bg-img .f-g-coupon-title .title-body{
    margin: 0 auto;
    width:200px;
    position: relative;
    padding-left: 25px;
}
#red-packet .r-p-content .bg-img .f-g-coupon-title i{
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 50%;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    left: 25px;
}
#red-packet .r-p-content .bg-img .f-g-coupon-content{
    background-color: white;
    position: absolute;
    top: 45px;
    left: 8px;
    right: 8px;
    bottom: 13px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#red-packet .r-p-content .bg-img .f-g-coupon-content .coupon-item{
    height: 50px;
    position: relative;
    border-bottom: 1px solid #cccccc;
}
#red-packet .r-p-content .bg-img .f-g-coupon-content .coupon-item .c-item-img{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 10px;
    top: 8px;
}
#red-packet .r-p-content .bg-img .f-g-coupon-content .coupon-item .c-item-text{
    font-size: 12px;
    text-align: left;
    position: absolute;
    left: 48px;
    top: 6px;
    right: 60px;
}
#red-packet .r-p-content .bg-img .f-g-coupon-content .coupon-item .c-item-btn{
    width: 50px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    right: 5px;
    top: 9px;
    border-radius: 5px;
    font-size: 10px;
}
