#fightGroups{
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
    /*overflow: hidden;*/
    background-color: #efeff3;
    margin-bottom: 140px;
}

#fightGroups .fight-groups {
    width: 100%;
    height: auto;
    background-color: white;
}
#fightGroups .fight-groups .piece-group-proudct-info{
    width: 100%;
    height: 150px;
    padding: 6px 6px ;
}

#fightGroups .fight-groups .piece-groups-ad-img{
    width: 40%;
    height: 100%;
    float: left;
}

#fightGroups .fight-groups .piece-groups-ad-text{
    width: 60%;
    height: 100%;
    float: left;
}

#fightGroups .fight-groups .piece-groups-ad-text .marketing-name{
    word-break:break-all;
    font-size: 14px;
    padding: 10px 12px 5px 5px;
}

#fightGroups .fight-groups .piece-groups-ad-text .sale-count{
    font-size: 12px;
    color: #A8A8A8;
    padding-left: 5px;
}

#fightGroups .fight-groups .piece-groups-ad-text .sale-price{
    font-size: 12px;
    padding-left: 5px;
}


#fightGroups .fight-groups .piece-groups-ad-text .sale-save-money{
    font-size: 12px;
    color: #A8A8A8;
    padding-left: 5px;
}

#fightGroups .fight-groups .cate-piece-group-promise{
    width: 100%;
    height: 35px;
    text-align: center;
    position: relative;
}

#fightGroups .fight-groups .piece-group-promise-div{
    width:100%;
    height: 40px;
    font-size: 12px;
    color: #9D9D9D;
}


#fightGroups .fight-groups .piece-group-promise-div label{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

#fightGroups .fight-groups .piece-group-promise-div span{
    margin-left: 2px;
}

#fightGroups .fight-groups .d-p-d-right{
    width:25%;
    line-height: 32px;
    text-align: center;
    float: left;
}

#fightGroups .fight-groups .d-p-d-center{
    width:25%;
    line-height: 32px;
    text-align: center;
    float: left;
}

#fightGroups .fight-groups .d-p-d-left{
    width:25%;
    line-height: 32px;
    text-align: center;
    float: left;
}


#fightGroups .fight-groups .d-p-d-last{
    width:25%;
    line-height: 32px;
    text-align: center;
    float: left;
}


#fightGroups .fight-groups .f-g-info-img-group{
    width: 100%;
    height: 30px;
    /* padding: 0 5px 0 5px; */
}

#fightGroups .fight-groups .f-g-info-img-group .user-imgs{
    width: 100%;
    height: 30px;
    background-color: #FFEB8A;
}


#fightGroups .fight-groups .f-g-info-img-group .user-imgs .imgs-photo{
    background-color: white;
    text-align: center;
}

#fightGroups .fight-groups .f-g-info-img-group .user-imgs .imgs-photo .user_img1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F15353;
}

#fightGroups .fight-groups .fight-groups-info{
    height: 32px;
    padding: 5px 10px 10px 10px;
    position: relative;
}

#fightGroups .fight-groups .fight-groups-info .f-g-info-btn{
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 10px;
    right: 10px;
    padding-left: 16px;
    padding-right: 10px;
    border-radius: 5px;
}


#fightGroups .dividing_line{
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    color:#959393;
}

#fightGroups .pro-content{
    width: 100%;
    height:auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 50px;
}

#fightGroups .pro-content .product-item{
    width: 50%;
    height: auto;
    padding-top: 4px;
}

#fightGroups .pro-content .product-item:nth-child(odd){
    float: left;
    box-sizing: border-box;
    padding-right: 2px;
    padding-left: 4px;
    background-color: #efeff3;
}

#fightGroups .pro-content .product-item:nth-child(even){
    float: left;
    box-sizing: border-box;
    padding-left: 2px;
    padding-right: 4px;
    background-color: #efeff3;
}

#fightGroups .pro-content .product-item .product-img{
    width: 100%;
    height: auto;
    position:relative;
}

#fightGroups .pro-content .product-item .product-img img{
    width: 100%;
    height: auto;
}

#fightGroups .pro-content .product-item .product-img div{
    position:absolute;
    right: 10px;
    bottom: 5px;
}

#fightGroups .pro-content .product-item .product-img div img{
    width: 75px;
    height: auto;
}

#fightGroups .pro-content .product-item .product-name{
    width: 100%;
    height: auto;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    background-color: white;
}


#fightGroups .pro-content .product-item .p-content{
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    background-color: white;
    padding: 0 7px 0 7px;
}

#fightGroups .pro-content .product-item .product-price{
    width: 50%;
    color:red;
    text-align: left;
    justify-content: flex-start;
    float: left;
}

#fightGroups .pro-content .product-item .product-buy-count{
    width: 50%;
    color:#A8A8A8;
    text-align: right;
    flex: 1;
    justify-content: flex-end;
    font-size: 12px;
    float: right;
}


/*拼团优惠券*/
#red-packet .r-p-content {
    height: 290px;
    margin-top: 35%;
}
#red-packet .r-p-content .bg-img {
    height: 290px;
}
#red-packet .r-p-content .bg-img .close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -5px;
    border-radius: 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

#red-packet .r-p-content .bg-img .f-g-coupon-title{
    width: 100%;
    color:white;
    font-size: 14px;
    padding-top: 8px;
}
#red-packet .r-p-content .bg-img .f-g-coupon-title .title-body{
    margin: 0 auto;
    width:200px;
    position: relative;
    padding-left: 25px;
}
#red-packet .r-p-content .bg-img .f-g-coupon-title i{
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 50%;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    left: 25px;
}
#red-packet .r-p-content .bg-img .f-g-coupon-content{
    background-color: white;
    position: absolute;
    top: 45px;
    left: 8px;
    right: 8px;
    bottom: 13px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#red-packet .r-p-content .bg-img .f-g-coupon-content .coupon-item{
    height: 50px;
    position: relative;
    border-bottom: 1px solid #cccccc;
}
#red-packet .r-p-content .bg-img .f-g-coupon-content .coupon-item .c-item-img{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 10px;
    top: 8px;
}
#red-packet .r-p-content .bg-img .f-g-coupon-content .coupon-item .c-item-text{
    font-size: 12px;
    text-align: left;
    position: absolute;
    left: 48px;
    top: 6px;
    right: 60px;
}
#red-packet .r-p-content .bg-img .f-g-coupon-content .coupon-item .c-item-btn{
    width: 50px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    right: 5px;
    top: 9px;
    border-radius: 5px;
    font-size: 10px;
}
