<div id="goodsList">

    <div scrolly id="content">
        <!-- nav 导航 -->
        <div class="page">
            <div class="bd">
                <div class="weui_tab">
                    <div class="weui_navbar">
                        <div class="weui_navbar_item goods_bar_item_on" style="position: relative;"
                             ng-click="retArrowStatus(1)">
                            <div style="position: absolute; width: 100%; text-align: center;">
                                综合
                            </div>
                        </div>
                        <div class="weui_navbar_item" style="position: relative;" ng-click="retArrowStatus(2)">
                            <div style="position: absolute; width: 100%; text-align: center;">
                                人气
                            </div>
                        </div>
                        <div class="weui_navbar_item" style="position: relative;" ng-click="retArrowStatus(3)">
                            <div style="position: absolute; width: 100%; text-align: center;">
                                销量
                            </div>
                        </div>

                        <div class="weui_navbar_item" style="position: relative;" ng-click="priceStatus()">
                            <div style="position: absolute; width: 100%; text-align: center;">
                                价格
                            </div>
                            <div ng-hide="price_arrow_hide">
                                <sortable-switch arrow-width="9" arrow-height="9" arrow-offset="15" active-color="#B10000" color="black"
                                                 sort="{{arrow}}">
                                </sortable-switch>
                            </div>
                        </div>
                    </div>
                    <div class="weui_tab_bd" id="product_list_content" oc-lazy-load="SquareImg">

                        <!--<div class="weui-row">

                            <div class="goods-box" ng-repeat="productItem in productList">
                                <img square-img ng-src="{{productItem.cover}}" class="goods-box-img"
                                     ui-sref="details({productId:productItem.id})">

                                <div class="goods-box-text">
                                    <div style=" word-wrap: break-word; word-break: normal;"
                                         ui-sref="details({productId:productItem.id})">
                                        {{productItem.name | cutText:true:20:'...'}}
                                    </div>
                                </div>
                                <div class="goods-box-footer-text">
                                    <div class="goods-c-left c-left">{{productItem.price | currency:"￥"}}</div>
                                    &lt;!&ndash;<div class="goods-c-right c-right" ng-click="addProductToCart(productItem.id)">
                                      <img src="img/goodList/good-list-cart-icon.png">
                                    </div>&ndash;&gt;
                                    <div class="goods-c-right c-right">
                                        <s>{{productItem.suggested_price | currency:'￥'}}</s>
                                    </div>
                                </div>
                            </div>



                        </div>-->


                        <div class="weui_grids">
                            <a ui-sref="details({productId:item.id})" class="weui_grid product_item"
                               ng-repeat="item in productList" on-finish-render>

                                <div ng-click="gotoDetail()">
                                    <!--product cover-->
                                    <div class="pro-item-margin">
                                        <div class="weui_grid_icon home_grid_img">
                                            <img square-img ng-src="{{item.cover}}">
                                        </div>
                                    </div>
                                    <!--product desc-->
                                    <div class="pro-item-desc">
                                        <div class="weui_grid_label home_grid_text">
                                            {{item.name | cutText:true:22:'...'}}
                                        </div>
                                        <div class="home_grid_footer_text">
                                            <div class="home_g_left c-left">{{item.price | currency:"￥"}}</div>
                                            <div ng-if="item.suggested_price>item.price" class="home_g_right c-right">
                                                <span><s>{{item.suggested_price | currency:"￥"}}</s></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </a>

                            <div class="weui_grid load-more-product" ng-show="load_more_btn_show">
                                <div class="load-more-button">拼命加载中……</div>
                            </div>

                        </div>

                        <!-- 底部 -->
                        <!--<div id="content-footer" style="display: none;">
                          <div class="content-footer-div">
                            <div class="c-f-d-right">店铺主页</div>
                            <div class="c-f-d-center">会员中心</div>
                            <div class="c-f-d-left">推客申请</div>
                          </div>
                        </div>-->

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
