#cart{
    width: 100%;
    height: 100%;
    /*position: relative;*/
    /*overflow-x:hidden;*/
    /*overflow-y: scroll;*/
    background-color: white;
}

/*begin from collection style*/
#cart .coll-text{
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color:#9D9D9D;
    border-bottom: 1px solid #cccccc;
    background-color: white;
    padding-right: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*overflow:hidden;*/
    z-index: 2;
}

#cart .coll-text-left{
    margin-left: 5px;
    font-size: 13px;
}

#cart .coll-text-right{
    float: right;
    margin-right: 15px;
    padding-left: 3px;
}


#cart .coll-text .edit-img {
    width: 20px;
    height: 16px;
    margin-top: 9px;
    float: right;
    background-size: 20px 16px;
    background-repeat: no-repeat;
    background-image: url(../../img/my/collection/edit-collection.png);
}
/*end collection style*/


/*---cart checkbox bnt---*/
#cart .cart-checkbox {
    display: none;
}
#cart .cart-checkbox + label:before {
    color: #9D9D9D;
    content:"\f3fe";
}
#cart .cart-checkbox:checked + label:before {
    color: #734284;
    content:"\f3ff";
}

#cart .cart-item-label {
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 15px 0 20px 5px;
    width: 30px;
    border-radius: 4px;
    list-style: none;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    cursor: pointer;
    float: left;
}
#cart .cart-item-label.active {
    /*color: red;*/
}

#cart .view-cart{
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: white;
}

/* cart view container*/
#cart .view-container {
    padding-top: 35px;
    padding-bottom:108px;
    /*padding-bottom: 108px;*/
    /*height: auto;*/
    /*background-color: white;*/
}


/*---cart item---*/
#cart .cart-list {
    background-color:#fff
}
#cart .cart-list li {
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    padding:18px 0 18px 0;
    background-color: #f4f4f4;
    margin-bottom: 5px;
}
#cart .cart-list li .item-info {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    position:relative;
    padding-left: 97px;
    min-height:85px;
}
#cart .cart-list li .item-info .item-info-bottom{
    height: 28px;
    width: 100%;

    position: relative;
}
#cart .cart-list li .item-info .item-info-bottom .item-price{
    float: left;
    font-size:16px;
    display: block;
    min-width: 60px;
    margin-top: 2px;
    margin-right: 5px;
    color:red;
}
#cart .cart-list li .item-info .item-info-bottom .item-weight{
    float: left;
    font-size:16px;
    display: block;
    min-width: 60px;
    margin-top: 2px;
    margin-right: 5px;
    color:#8C8C8C;
}

#cart .cart-list li .item-info .item-info-bottom .ion-close{
    position: relative;
    margin-top: 3px;
    width: auto;
    height: 24px;
    float: right;
    margin-right: 10px;
}

#cart .cart-list li .item-info .item-image {
    position:absolute;
    left:0;
    display:inline-block;
    text-align:center;
    margin-right: 5px;
}
#cart .cart-list li .item-info .item-image img {
    width: 85px;
    height:85px;
    background-color: #fff;
    margin-left: 5px;
}
#cart .cart-list li .item-info .item-title {
    height: 23px;
    overflow:hidden;
    padding-right:10px;
    line-height:25px;
    font-size:13px;
    color:#222;
    margin-bottom: 5px;
}
#cart .cart-list li .item-info .item-title-2 {
    height: 50px;
    overflow:hidden;
    padding-right:10px;
    line-height:25px;
    font-size:13px;
    color:#222;
    margin-bottom: 5px;
}

#cart .cart-list li .item-info .item-spec {
    height: 23px;
    overflow:hidden;
    padding-right:10px;
    line-height:25px;
    font-size:13px;
    color:#8C8C8C;
    margin-bottom: 5px;
}


/*---quantity counter---refer by detials---------*/
.cart-quantity-form {
    /*position: relative;*/
    overflow: hidden;
    height: 28px;
    width: 100px;
    /*border: 1px solid #e7e7e7;*/
    float: left;
}
.cart-quantity {
    /*position: absolute;*/
    /*left: 20px;*/
    /*top: 0;*/
    border: 1px solid #6b6b6b;
    width: 40px;
    height: 24px;
    line-height: 18px;
    text-align: center;
    margin: 2px 0 0 2px;
    font-size: 12px;
    float: left;
    border-radius: 3px;
}
.cart-quantity-decrement {
    float: left;
}
.cart-quantity-increment {
    float: right;
}
.cart-quantity-form span{
    color: #fff;
    /*font-size: 18px;*/
}
.cart-quantity-form a{
    border-radius: 5px;
    background-color: #6b6b6b;
    width: 28px;
    height: 28px;
    text-align: center;
    font-size: large;
}


/*cart is empty*/
#cart #empty-cart-content{
    /*background-color: white;*/
    /*height: 100%;*/
    text-align: center;
}

#cart #empty-cart-content .empty-cart-img{
    padding-top: 150px;
}

#cart #empty-cart-content .empty-cart-img img{
    width: 100px;
    height: 100px;
}

#cart #empty-cart-content .empty-cart-text{
    margin-top: 10px;
    margin-bottom: 15px;
}

#cart #empty-cart-content .empty-cart-text span{
    font-size: 16px;
}

#cart #empty-cart-content .empty-cart-text div{
    font-size: 14px;
    color: #9D9D9D;
    margin-top: 5px;
}

#cart #empty-cart-content .empty-cart-button span{
    width: 150px;
    font-size: 18px;
    color: white;
    /*border: 2px solid #734284;*/
    border-radius: 5px;
    padding: 8px 20px 8px 20px;
    background-color: #b668a4;
    margin-top: 10px;
}


#cart .item-info-bottom .item-price-position{
}
#cart .item-info-bottom .cart-quantity-form-position{
}



/*---foot for both cart/settlement---*/
#cart #foot {
    /* width: 100%; */
    height: 52px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 55px;
    z-index:100
}
#cart #foot .footLeft  {
    position: absolute;
    width: 100%;
    height: 57px;
    background-color: #f4f4f4;
}
#cart #foot .footRight {
    width: 100px;
    height: 57px;
    padding: 0 8px;
    /*background-color: #D40000;*/
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 57px;
    border: 0;
    z-index: 50;
}

/*cart only*/
#cart #foot #checkAll {
    padding-right: 33px;
    padding-bottom: 15px;
    padding-left: 5px;
    position: absolute;
}
#cart #foot .foot-info {
    float: left;
    color: #474747;
    margin: 6px 0 0 10px;
}
#cart #foot .foot-info div {
}
#cart #foot .foot-info span {
    font-size: 12px;
    float: left;
}
#cart #foot .foot-info p {
    min-width: 60px;
    font-size: 12px;
    color: #8C8C8C;
    /*margin-left: 10px;*/
    float: left;
}
#cart #foot .foot-info strong {
    font-size: 17px;
    display: block;
}
#cart #foot .check-text{
    padding-top: 15px;
    margin-left: 35px;
    float:left;
    color: #474747;
}
