/*head*/
.view-cart .settlement-header {
    border-style:solid;
    border-color:#A0A0A0;
    border-width:0 0 1px;
    background-color:#E9E9E9;
    height:50px;
    padding:0 17px;
}
.view-cart .settlement-header .settlement-title {
    line-height:51px;
    font-size: 18px;
}
.view-cart .settlement-header .back {
    float: left;
    margin: 13px 13px 0 0;
    display: inline-block;
}
.view-cart .settlement-header .back .back-img {
    width: 13px;
    height: 20px;
}

/*foot*/
.settlement-price {
    float: right;
    margin-top: 16px;
    margin-right: 125px;
}

/*content*/
.contact-info-space {
    padding: 5px 0;
    margin-left: 26px;
    font-size: 15px;
}
.address-info {
    /*padding: 5px 0;*/
    color: black;
    font-size: 13px;
    line-height: 1.2;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-line-clamp: 2;*/
}
.address-img {
    /*width: 23px;*/
    height: 23px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.address-text{
    width: 85%;
    height: 32px;
    line-height: 32px;
    /*margin-left: 25px;*/
    white-space:nowrap;
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
}

.settlement-list li {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding: 8px 15px 8px 15px;
    background-color: #f4f4f4;
    margin-bottom: 5px;
}
.settlement-cart-info {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    position:relative;
    padding-left: 95px;
    min-height:85px
}
.settlement-cart-image {
    position:absolute;
    left:0;
    display:inline-block;
    text-align:center;
    margin-right: 5px;
}
.settlement-cart-image img {
    width: 85px;
    height:85px;
    background-color: #fff;
}
.settlement-cart-title {
    font-weight: 400;
    max-height: 60px;
    overflow:hidden;
    line-height:16px;
    font-size:13px;
    color:#414544;
    margin-top: 5px;
}
.settlement-cart-type {
    color: #A0A0A0;
    font-size: 13px;
    margin-top: 7px;
}
.settlement-cart-quantity {
    position: absolute;
    bottom: 0;
    right: 0;
}

.settlement-cart-price {
    position: absolute;
    bottom: 0;
}

.settlement-options {
    height: auto;
    margin: 3px 13px;
}
.settlement-option {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    border-bottom: 1px solid #E7E7E7;
}

.settlement-final {
    height: 35px;
    line-height: 35px;
}
.settlement-final .settlement-total{
    float: right;
    /*margin-top: 15px;*/
    font-size: 14px;
}

#settlement .weui_cells_title{
    margin-top: 0;
}

.kqd-cell-ft {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    position: relative;
    top: -1px;
    margin-left: .3em;
}
.settlement-buyer-message {
    width: 100%;
    height: 32px;
    line-height: 32px;
}

.settlement-buyer-message div {
    min-width: 20%;
    float: left;
}
.settlement-input {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 14px;
    height: 1.41176471em;
    line-height: 1.41176471;
    width: 70%;
    /*margin-left: 5px;*/
    padding-top: 13px;
}
.settlement-option-bottom {
    height: 12px;
    width: 100%;
    background-color: #EEEEEE;
}


/* settlement 结算页 */
#settlement{
    position: relative;
    z-index: 0;
}

#settlement .view-container {
    /*padding-top:51px;*/
    /*padding-bottom: 57px;*/
    padding-bottom: 57px;
    height: auto;
    background-color: white;
}

#settlement #weui_action_add_sheet .weui_cell{
    padding:7px 10px;
    font-size: 13px;
}

#settlement #weui_action_add_sheet .weui_cell:before{
    left: 7px;
}

#settlement #weui_action_add_sheet .weui_label{
    width: 4em;
}

#settlement #c_address_action{
    margin-left: 30px;
    /*color: green;*/
}
#settlement .weui_actionsheet{
    z-index: 90;
}

.weui-picker-container{
    z-index: 95;
}


#settlement .weui_media_box .weui_media_desc{
    margin-bottom: 10px;
}

#settlement .weui_cell_primary{
    line-height: 38px;
}

#settlement .payment-icon{
    width: 38px;
    height: 38px;
    float: left;
}

#settlement .payment-icon label{
    font-size: 38px;
    vertical-align: middle;
    padding-top: 8px;
    text-align: center;
}

#settlement .payment-icon img{
    width: 26px;
    height: 26px;
    margin-top: 8px;
}

#settlement .weui_actionsheet_action{
    margin-top: 6px;
    background-color: #fff;
    padding: 0 13px 15px 13px;
}


/*#settlement .weui_panel:after{
    border-bottom: 0;
}*/

#settlement #foot {
    /* width: 100%; */
    height: 52px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
#settlement #foot .footLeft  {
    position: absolute;
    width: 100%;
    height: 57px;
    background-color: #f4f4f4;
}
#settlement #foot .footRight {
    width: 100px;
    height: 57px;
    padding: 0 8px;
    /*background-color: #D40000;*/
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 57px;
    border: 0;
    z-index: 50;
}

/* coupon */
#settlement .coupon-item{
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    padding: 0 13px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}
#settlement .coupon-item .more-coupon{
    width: 50px;
    height: 100%;
    position: relative;
    padding-left: 5px;
    float: right;
}
#settlement .coupon-item .more-coupon .arrow-up{
    width: 18px;
    height: 18px;
    background-color: white;
    position: absolute;
    top: 13px;
    right: 0;
    border-radius: 50%;
    border:1px solid #A95296;
}
#settlement .coupon-item .more-coupon .arrow-up i{
    opacity: 1;
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: transparent;
    top: 3px;
    left: 5px;
    border: 1px solid #A95296;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#settlement .coupon-item .more-coupon .arrow-down{
    width: 18px;
    height: 18px;
    background-color: #A95296;
    position: absolute;
    top: 13px;
    right: 0;
    border-radius: 50%;
}
#settlement .coupon-item .more-coupon .arrow-down i{
    opacity: 1;
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: transparent;
    top: 3px;
    left: 5px;
    border: 1px solid white;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#settlement .coupon-list{
    min-height: 50px;
    padding: 5px;
    background-color: #f4f4f4;
}
#settlement .coupon-list .c-item{
    /* width: 100%; */
    height: 50px;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #c385b6;
    margin-bottom: 5px;
    position: relative;
}
#settlement .coupon-list .c-item .c-i-left{
    width: 40px;
    height: 100%;
    float: left;
}
#settlement .coupon-list .c-item .c-i-left i{
    background-color: #A95296;
    border-radius: 50%;
    font-style: normal;
    padding: 2px 9px;
    color: white;
}
#settlement .coupon-list .c-item .c-i-right{
    /*width: calc(100% - 40px);*/
    width: 100%;
    height: 100%;
    float: left;
}
#settlement .coupon-list .c-item .c-i-right .coupon-name{
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
}
#settlement .coupon-list .c-item .c-i-right .coupon-valid-date{
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #999;
}
#settlement .coupon-list .c-item .c-i-right .final-price{
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}



#settlement .c-item .coupon-checkbox{
    visibility: hidden;
    float: right;
}
#settlement .c-item .coupon-checked{
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 17px;
    right: 13px;
    background: #fff;
    border:1px solid #ccc;
    -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}
#settlement .c-item .coupon-checked:after{
    opacity: 0;
    content: '';
    position: absolute;
    width: 11px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 4px;
    border: 2px solid #A95296;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#settlement .c-item .coupon-checked:hover::after{
    opacity: 0;
}
#settlement .c-item .coupon-checkbox:checked + .coupon-checked:after{
    opacity: 1;
}

/*收货地址*/
#weui_actionsheet {
    /*height: 95%;*/
}
#weui_actionsheet .weui_media_box{
    padding: 11px;
}

#showAddress_wrap .selectContact{
    position: relative;
}

#showAddress_wrap .selectContact .contect-item-edit-btn{
    position: absolute;
    width: 42px;
    height: 38px;
    line-height: 38px;
    top: -5px;
    right: 5px;
    text-align: center;
    font-size: 12px;
    color: #999999;
}
