/*head*/
.view-cart .settlement-header {
    border-style:solid;
    border-color:#A0A0A0;
    border-width:0 0 1px;
    background-color:#E9E9E9;
    height:50px;
    padding:0 17px;
}
.view-cart .settlement-header .settlement-title {
    line-height:51px;
    font-size: 18px;
}
.view-cart .settlement-header .back {
    float: left;
    margin: 13px 13px 0 0;
    display: inline-block;
}
.view-cart .settlement-header .back .back-img {
    width: 13px;
    height: 20px;
}

/*foot*/
.settlement-price {
    float: right;
    margin-top: 16px;
    margin-right: 125px;
}

/*content*/
.contact-info-space {
    padding: 5px 0;
    margin-left: 26px;
    font-size: 15px;
}
.address-info {
    /*padding: 5px 0;*/
    color: black;
    font-size: 13px;
    line-height: 1.2;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-line-clamp: 2;*/
}
.address-img {
    /*width: 23px;*/
    height: 23px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.address-text{
    width: 85%;
    height: 32px;
    line-height: 32px;
    /*margin-left: 25px;*/
    white-space:nowrap;
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
}

.settlement-list li {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding: 8px 15px 8px 15px;
    background-color: #f4f4f4;
    margin-bottom: 5px;
}
.settlement-cart-info {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    position:relative;
    padding-left: 95px;
    min-height:85px
}
.settlement-cart-image {
    position:absolute;
    left:0;
    display:inline-block;
    text-align:center;
    margin-right: 5px;
}
.settlement-cart-image img {
    width: 85px;
    height:85px;
    background-color: #fff;
}
.settlement-cart-title {
    font-weight: 400;
    max-height: 60px;
    overflow:hidden;
    line-height:16px;
    font-size:13px;
    color:#414544;
    margin-top: 5px;
}
.settlement-cart-type {
    color: #A0A0A0;
    font-size: 13px;
    margin-top: 10px;
}
.settlement-cart-quantity {
    position: absolute;
    bottom: 0;
    right: 0;
}

.settlement-cart-price {
    position: absolute;
    bottom: 0;
}

.settlement-options {
    height: 95px;
    margin: 3px 13px;
}
.settlement-option {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    border-bottom: 1px solid #E7E7E7;
}

.settlement-final {
    height: 35px;
    line-height: 35px;
}
.settlement-final .settlement-total{
    float: right;
    /*margin-top: 15px;*/
    font-size: 14px;
}

#settlement .weui_cells_title{
    margin-top: 0.77em;
}


#settlement .weui_cells_title_e{
    margin-top: 5.3em;
}

.kqd-cell-ft {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    position: relative;
    top: -1px;
    margin-left: .3em;
}
.settlement-buyer-message {
    width: 100%;
    height: 32px;
    line-height: 32px;
}

.settlement-buyer-message div {
    min-width: 20%;
    float: left;
}
.settlement-input {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 14px;
    height: 1.41176471em;
    line-height: 1.41176471;
    width: 70%;
    /*margin-left: 5px;*/
    padding-top: 13px;
}
.settlement-option-bottom {
    height: 12px;
    width: 100%;
    background-color: #EEEEEE;
}




/*header*/
/*.settlement-font {*/
    /*font-size: 13px;*/
/*}*/
/*.weui_icon_safe::before {*/
    /*font-size: 15px;*/
/*}*/
/*.safe-tips-text {*/
    /*padding: 5px;*/
    /*text-align: center;*/
    /*background-color: #FBF9FE;*/
/*}*/

/*.address-selection {*/
    /*margin-top: 0;*/
/*}*/
/*.time-selection {*/
    /*margin-top: 0;*/
/*}*/


/*.order-money, .order-freight {*/
    /*float: right;*/
/*}*/
/*.payment-method-icon {*/
    /*height: 18px;*/
    /*width: 25px;*/
    /*float: left;*/
/*}*/
/*.payment-method-icon img {*/
    /*height: 18px;*/
/*}*/

/*.invoice-title {*/
    /*width: 60px;*/
    /*font-size: 13px;*/
/*}*/

/* settlement 结算页 */
#settlement{

}

#settlement #weui_action_add_sheet .weui_cell{
    padding:7px 10px;
    font-size: 13px;
}

#settlement #weui_action_add_sheet .weui_cell:before{
    left: 7px;
}

#settlement #weui_action_add_sheet .weui_label{
    width: 4em;
}

#settlement #c_address_action{
    margin-left: 30px;
    color: green;
}
#settlement .weui_actionsheet{
    z-index: 90;
}

.weui-picker-container{
    z-index: 95;
}

#settlement .weui_media_box .weui_media_desc{
    margin-bottom: 10px;
}

#settlement .weui_cell_primary{
    line-height: 40px;
}

#settlement .payment-icon{
    width: 40px;
    height: 40px;
    float: left;
}

#settlement .payment-icon img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

