<div id="withdraw">

    <div class="user-info-body">
        <form ng-submit="">
            <div class="desc">
                {{point_rate}} 积分可兑现1元, 至少{{point_rate*min_withdraw}}积分才可以兑现
            </div>

            <div class="weui_cell draw" >
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" id="drawNum" placeholder="可兑现积分 {{balance*point_rate}}" ng-model="withdraw.withdraw_cash">
                </div>
            </div>

            <!--<p class="allowWithdraw">可兑换积分: {{balance}} &lt;!&ndash;<span class="limit" >( 至少10,000积分才可以提现 )</span>&ndash;&gt;</p>-->

            <div class="sub">
                <input type="submit" class="weui_btn weui_btn_primary" value="积分兑现" ng-click="postDrawNum()">
            </div>

        </form>

       <!-- <div ng-repeat="item in withdraw_history">
            <span>{{item.name}}</span>
        </div>-->
    </div>

</div>