<div id="exchangeRecord">

    <div id="promotionOrder">

        <div class="my-recommend-content">

            <div class="item-stable custom_titlebar_primary">

                <select class="weui_select year" ng-options="i.key as i.value for i in yearDefault" ng-model="year"
                        ng-init="year=thisYear" ng-change="selectedYearAction()">
                </select>
                记录明细
                <select class="weui_select mon" ng-options="i.key as i.value for i in monDefault" ng-model="mon"
                        ng-init="mon=thisMon" ng-change="getExchangeRecordAction()">
                </select>

            </div>

            <div class="record-list">

                <div class="exchange_record_null" ng-if="exchange_record_list.length == 0">没有提现记录</div>

                <div class="list-item" ng-repeat="item in exchange_record_list" ng-if="exchange_record_list.length > 0">
                    <div class="l-item-left">
                        <p style="margin-top: 2px;">{{pay_status(item.account_type)}}</p>
                        <p>{{apply_time(item.apply_time)}}</p>
                    </div>
                    <div class="l-item-right">
                        <div class="amount-money">
                            <p>{{'￥' + item.cash}}</p>
                        </div>
                        <div class="amount-text">
                            <p style="padding-top: 4px; color: #000000;">提现金额</p>
                            <p style="font-size: 10px; ">{{apply_status(item.status)}}</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>