<div class="weui_tab">
    <div class="weui_tab_bd" style="width: 100%;">
        <div ui-view></div>
    </div>
    <div class="weui_tabbar">
        <!--<a ui-sref="home.homePage" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon ion-app-biliya-tabs-home home_tab_icon home_tab_icon_color">
                &lt;!&ndash;<img src="img/indexTab/Home.png">&ndash;&gt;
            </div>
            <p class="weui_tabbar_label">首页</p>
        </a>
        <a ui-sref="home.category" class="weui_tabbar_item" ng-click="clickme123()">
            <div class="weui_tabbar_icon ion-app-biliya-tabs-search home_tab_icon">
                &lt;!&ndash;<img src="img/indexTab/Thumbnails.png">&ndash;&gt;
            </div>
            <p class="weui_tabbar_label">搜索</p>
        </a>
        &lt;!&ndash;<a ui-sref=".seller" class="weui_tabbar_item">&ndash;&gt;
        <a ui-sref=".sellerPage" class="weui_tabbar_item" ng-click="clickme123()">
            <div class="weui_tabbar_icon ion-app-biliya-tabs-team home_tab_icon">
                &lt;!&ndash;<img src="img/indexTab/seller.png">&ndash;&gt;
            </div>
            <p class="weui_tabbar_label">分销中心</p>
        </a>
        <a ui-sref=".cart" class="weui_tabbar_item">
            <div class="weui_tabbar_icon ion-app-biliya-tabs-cart home_tab_icon">
                &lt;!&ndash;<img src="img/indexTab/cart.png">&ndash;&gt;
            </div>
            <p class="weui_tabbar_label">购物车</p>
        </a>
        <a ui-sref=".my" class="weui_tabbar_item">
            <div class="weui_tabbar_icon ion-app-biliya-tabs-user home_tab_icon">
                &lt;!&ndash;<img src="img/indexTab/my.png">&ndash;&gt;
            </div>
            <p class="weui_tabbar_label">个人中心</p>
        </a>-->

        <a class="weui_tabbar_item"
           ng-repeat="tab_item in home_tabs"
           ng-class="{weui_bar_item_on : currentId == tab_item.id}"
           ui-sref="{{tab_item.srefName}}"
           ng-click="clickme(tab_item.id)"
                >
            <div class="">
                <i ng-if="tab_item.c_number > 0" class="{{tab_item.c_count}}">{{tab_item.c_number > 99 ? "99+" : tab_item.c_number}}</i>
            </div>
            <div class="{{tab_item.home_tab_icon}}" ng-class="{home_tab_icon_color : currentId == tab_item.id}">
            </div>
            <p class="weui_tabbar_label">{{tab_item.name}}</p>
        </a>
    </div>
</div>