<!-- 头部logo -->
<div class="hd">

    <div class="home-logo">
        <img src="img/home/shop-logo.png">
    </div>

    <!-- 搜索框 -->
    <div class="weui_search_bar home-title-center" id="search_bar">
        <form class="weui_search_outer">
            <div class="weui_search_inner">
                <i class="weui_icon_search" style="top: 8px;"></i>
                <input type="search" class="weui_search_input" id="search_input" placeholder="搜索你想要的商品" required/>
                <!--<a href="javascript:" class="weui_icon_clear" id="search_clear"></a>-->
            </div>
            <!--<label for="search_input" class="weui_search_text" id="search_text">-->
                <!--<i class="weui_icon_search"></i>-->
                <!--<span>搜索</span>-->
            <!--</label>-->
        </form>
        <!--<a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>-->
    </div>

    <div class="home-title-right">
        <img src="img/home/follow-img.png">
        <div style="{font-size: 10px;}">关注我们</div>
    </div>

</div>


<div id="content">


    <!-- 滑动广告 -->
    <div id="ad">
        <!-- 广告图片 -->
        <div id="homeHeaderSlider" class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="adItem in ad_list">
                    <img ng-src="{{adItem.image}}">
                </div>
                <!--<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>-->
                <!--<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>-->
                <!--<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>-->
            </div>
        </div>

    </div>

    <!-- 功能导航 -->
    <nav id="nav" style="">

        <span class="group-span-top">
            <img ng-src="img/home/new-product.png" alt="">
            <h2>新品优惠</h2>
        </span>
        <span class="group-span-top">
             <img ng-src="img/home/selected-img.png" alt="">
             <h2>每日精选</h2>
        </span>

        <span class="group-span-top">
          <img ng-src="img/home/brand-img.png" alt="">
          <h2>品牌推荐</h2>
        </span>

        <span class="group-span-top" ui-sref="home.category">
          <img ng-src="img/home/more-cate.png" alt="">
          <h2>更多分类</h2>
        </span>

    </nav>


 <!--   <div class="weui_grids" style="display: none">
        <a ui-sref="#" class="weui_grid home_grid">
            <div class="weui_grid_icon kqd_grid_img_large">
                <img src="img/home/new-product.png" alt="">
            </div>
            <p class="weui_grid_label">
                新品优惠
            </p>
        </a>
        <a ui-sref="#" class="weui_grid home_grid">
            <div class="weui_grid_icon kqd_grid_img_large">
                <img src="img/home/selected-img.png" alt="">
            </div>
            <p class="weui_grid_label">
                每日精选
            </p>
        </a>
        <a ui-sref="#" class="weui_grid home_grid">
            <div class="weui_grid_icon kqd_grid_img_large">
                <img src="img/home/brand-img.png" alt="">
            </div>
            <p class="weui_grid_label">
                品牌推荐
            </p>
        </a>
        <a ui-sref="home.category" class="weui_grid home_grid">
            <div class="weui_grid_icon kqd_grid_img_large">
                <img src="img/home/more-cate.png" alt="">
            </div>
            <p class="weui_grid_label">
                更多分类
            </p>
        </a>
    </div>-->

    <!-- 活动 -->
    <div class="panic-buying-ad">
        <div class="ad-1">
            <img src="img/home/snaps-img.png">
        </div>
        <!--<div class="ad-2"></div>
        <div class="ad-3"></div>-->
    </div>


    <!-- 商品系列 -->
    <div class="panic-buying">
        <div class="p-buying-left">
            <div class="p-b-left">
                <img src="img/home/panic-buying-01.png">
            </div>
            <div class="p-b-right">
                <div style="font-size: 20px;">今日<span style="color: orange; font-weight: 600;">抢购</span></div>
                <div style="font-size: 14px; color: #9B9B9B;">立即抢购>></div>
            </div>
        </div>
        <div class="p-buying-right">

            <div class="p-b-left">
                <img src="img/home/panic-buying-02.png">
            </div>
            <div class="p-b-right">
                <div style="font-size: 20px;">每日<span style="color: #F945A3; font-weight: 600;">新品</span></div>
                <div style="font-size: 14px; color: #9B9B9B;">立即抢购>></div>
            </div>

        </div>
    </div>

    <!-- 活动 -->
    <div class="panic-buying-ad">
        <div class="ad-1">
            <img src="img/home/snaps-img-2.png">
        </div>
        <!--<div class="ad-2">
        </div>-->
        <!--<div class="ad-3"></div>-->
    </div>


    <!-- 化妆专区 -->
    <div class="s-size-area">
        <div class="s-area-img">
            <img src="img/home/area-img-1.png">
        </div>

        <div class="area-product">
            <div id="homeProductGrids">
                <div class="weui_grids">
                    <a ui-sref="details({productId:item.id})" class="weui_grid home_grid_2" ng-repeat="item in rec_product">

                        <div class="weui_grid_icon home_grid_img">
                            <img ng-src="{{item.cover}}">
                        </div>
                        <p class="weui_grid_label home_grid_text">
                            {{item.name | cutText:true:20:'...'}}
                        </p>
                        <div class="home_grid_footer_text">
                            <div class="home_g_left c-left">{{item.price | currency:"￥"}}</div>
                            <div class="home_g_right c-right">
                                <span>省￥40</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>





    <!-- 底部 -->
    <div id="content-footer" style="display: none;">
        <div class="content-footer-div">
            <div class="c-f-d-right">店铺主页</div>
            <div class="c-f-d-center">会员中心</div>
            <div class="c-f-d-left">推客申请</div>
        </div>
    </div>

</div>