<!--
/**
* 物流详情
*
* @author Jimmie Hwang
* @create 2016/6/15
*
*/
-->

<div id="express">

    <div class="express_status">
        <div class="head">
            <a href="">
                <img ng-src="{{product_img}}" alt="">
                <p class="goodsNum">{{product_count}}件商品</p>
            </a>
        </div>
        <div class="info">
            <h4  class="custom_text_primary">物流状态 <span>{{expressInfo.state|expressStatus}}</span></h4>
            <p>承运公司: {{express_company}}</p>
            <p>运单编号: {{express_number != null ? express_number : '-'}}</p>
            <p>官方电话: <span class="tel">{{expressInfo.comcontact != null ? expressInfo.comcontact : '-'}}</span> </p>
        </div>

    </div>

    <div class="express_tracking">
        <h4 class="custom_text_primary">物流跟踪</h4>
        <div class="track_list">
            <ul id="list">
                <li ng-repeat="item in expressInfo.data" class="{{okclass}}">
                    <i class="icon"></i>
                    <p>
                        {{item.context}}<br>
                        <span class="time">{{item.time}}</span>
                    </p>
                </li>
            </ul>
        </div>

    </div>

    <div ng-if="false" class="evaluate">
        <a href="">派件评价</a>
    </div>
</div>