.custom_weui_btn_primary {
    background-color: #C20403;
}
.custom_weui_btn_primary:not(.weui_btn_disabled):visited {
    color: #FFFFFF;
}
.custom_weui_btn_primary:not(.weui_btn_disabled):active {
    color: rgba(255, 255, 255, 0.4);
    background-color: #D20403;
}
