::-webkit-scrollbar { width: 0; display: none }/* Track & scroll thickness */

::-webkit-scrollbar-track { background-color:#00FFFFFF; }/* Track color */

::-webkit-scrollbar-thumb { background-color: #00FFFFFF;}/* Scroll color */

::-webkit-scrollbar-thumb:hover { background-color: #00FFFFFF }/* Scroll hover color */

::-webkit-scrollbar-thumb:active { background-color: #00FFFFFF }/* Scroll click & drag color */

::-webkit-input-placeholder { color:#9F9F9F; font-size: 14px; }

/*delete input up down btn*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*weui changes*/
.weui_btn_primary{
    color: white;
    background-color: #A95296;
}
.weui_btn_primary:not(.weui_btn_disabled):active {
    color: rgba(255, 255, 255, 0.4);
    background-color: #734284;
}

.weui_btn{
    /*background-color: #A95296;*/
    padding-bottom: 0px;
}
.weui_btn:not(.weui_btn_disabled):active {
    color: rgba(255, 255, 255, 0.4);
    /*background-color: #734284;*/
}
.weui_actionsheet_cell{
    margin-top: 0;
    border: 0;
    color: white;
    padding: 6px 0;
    border-radius: 8px;
}
.weui_actionsheet_cell:active {
    color: rgba(255, 255, 255, 0.4);
    /*background-color: #734284;*/
}

/* custom define */
.custom_text_primary{
    color: #734284;
}
.custom_tab_color{
    color: #734284;
}

.custom_text_primary_medium{
    color: #A95296;
}

.custom_titlebar_primary{
    background-color: #A95296;
}

.custom_flat_primary_dark{
    background-color: #4e3866
}

.custom_flat_primary{
    background-color: #734284;
}

.custom_flat_primary_medium{
    background-color: #A95296;
}

.custom_flat_primary_light{
    background-color: #c385b6;
}

.custom_tab_underline_active{
    height: 20px;
    color:#734284;
    border-bottom: 3px solid #734284;
}

.custom_weui_btn_border{
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.custom_weui_flat_btn{
    border-radius: 0px;
}

.custom_flat_footer {
    width: 100%;
    clear:both;
    position: fixed;
    bottom: 0px;
    z-index: 200;
}

.custom_wrap_bar_height{
    height: 44px;
}

.custom_wrap_btn_height{
    height: 88px;
}

.custom_size_img_large {
    width: 48px;
    height: 48px;
}

.cart_count{
    position:absolute;
    /*bottom:10px;*/
    top: 3px;
    right: 0;
    background-color:red;
    min-width: 16px;
    min-height: 12px;
    line-height:12px;
    /*padding: 1px 1px;*/
    text-align:center;
    color:#fff;
    border-radius:10px; /*半圆*/
    font-weight:500;
    font-size: xx-small;
    font-family: 'Arial';
    /*center offset 10px*/
    /*left: 10px;*/
    /*margin-left: 50%;*/
    padding: 0 4px;
}

.red_point{
    position: absolute;
    top: 6px;
    right: calc(50% - 18px);
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

/*拼团广告*/
/*begin*/
.fight-groups {
    width: 100%;
    height: auto;
    background-color: white;
}

.fight-groups .fight-groups-ad-img{
    width: 100%;
    height: auto;
    /*background-color: #ACCBFF;*/
}


.fight-groups .fight-groups-info{
    height: 32px;
    padding: 5px 10px 5px 10px;
    position: relative;
}

.fight-groups .fight-groups-info .f-g-info-price{
    line-height: 32px;
    color: #F15353;
    font-size: 16px;
}

.fight-groups .fight-groups-info .f-g-info-price .group-count{
    line-height: 32px;
    color: #A8A8A8;
    font-size: 12px;
}

.fight-groups .fight-groups-info .f-g-info-img-group{
    /*width: 20px;*/
    height: 28px;
    /* padding: 0 5px 0 5px; */
    position: absolute;
    top: 7px;
    right: 85px;
}

.fight-groups .fight-groups-info .f-g-info-img-group .user-imgs{
    /*width: 20px;*/
    height: 28px;
    position: relative;
}


.fight-groups .fight-groups-info .f-g-info-img-group .user-imgs .imgs-photo{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    right: 19px;
    position: absolute;
    border: 1px solid #fff;
}

.fight-groups .fight-groups-info .f-g-info-img-group .user-imgs .imgs-photo .user_img1{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #F15353;
    z-index: 10;
    right: 19px;
    position: absolute;
}

.fight-groups .fight-groups-info .f-g-info-img-group .user-imgs .imgs-photo .user_img2{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #F1D3A2;
    z-index: 9;
    position: absolute;
}

.fight-groups .fight-groups-info .f-g-info-btn{
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    position: absolute;
    top: 8px;
    right: 10px;
    padding-left: 16px;
    padding-right: 10px;
    border-radius: 5px;
}
/*end*/