::-webkit-scrollbar { width: 0; display: none }/* Track & scroll thickness */

::-webkit-scrollbar-track { background-color:#00FFFFFF; }/* Track color */

::-webkit-scrollbar-thumb { background-color: #00FFFFFF;}/* Scroll color */

::-webkit-scrollbar-thumb:hover { background-color: #00FFFFFF }/* Scroll hover color */

::-webkit-scrollbar-thumb:active { background-color: #00FFFFFF }/* Scroll click & drag color */

::-webkit-input-placeholder { color:#aaa; }

/*delete input up down btn*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*weui changes*/
.weui_btn_primary{
    color: white;
    background-color: #A95296;
}
.weui_btn_primary:not(.weui_btn_disabled):active {
    color: rgba(255, 255, 255, 0.4);
    background-color: #734284;
}

.weui_btn{
    /*background-color: #A95296;*/
    padding-bottom: 0px;
}
.weui_btn:not(.weui_btn_disabled):active {
    color: rgba(255, 255, 255, 0.4);
    /*background-color: #734284;*/
}
.weui_actionsheet_cell{
    margin-top: 0;
    border: 0;
    color: white;
    /*background-color: #A95296;*/
}
.weui_actionsheet_cell:active {
    color: rgba(255, 255, 255, 0.4);
    /*background-color: #734284;*/
}

/* custom define */
.custom_text_primary{
    color: #734284;
}

.custom_text_primary_medium{
    color: #A95296;
}

.custom_titlebar_primary{
    background-color: #A95296;
}

.custom_flat_primary_dark{
    background-color: #4e3866
}

.custom_flat_primary{
    background-color: #734284;
}

.custom_flat_primary_medium{
    background-color: #A95296;
}

.custom_flat_primary_light{
    background-color: #c385b6;
}

.custom_weui_btn_border{
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.custom_weui_flat_btn{
    border-radius: 0px;
}

.custom_flat_footer {
    width: 100%;
    clear:both;
    position: fixed;
    bottom: 0px;
    z-index: 200;
}

.custom_wrap_bar_height{
    height: 44px;
}

.custom_wrap_btn_height{
    height: 88px;
}

.kqd_grid_img_large {
    width: 48px;
    height: 48px;
}

.kqd_grid_4{
    width: 25%;
}

/* goodsList tabs text color*/
.goods_bar_item_on{
    height: 20px;
    color:#734284;
    border-bottom: 3px solid #734284;
}