::-webkit-scrollbar { width: 0; }/* Track & scroll thickness */

::-webkit-scrollbar-track { background-color:#00FFFFFF; }/* Track color */

::-webkit-scrollbar-thumb { background-color: #00FFFFFF;}/* Scroll color */

::-webkit-scrollbar-thumb:hover { background-color: #00FFFFFF }/* Scroll hover color */

::-webkit-scrollbar-thumb:active { background-color: #00FFFFFF }/* Scroll click & drag color */


.custom_weui_btn_border{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.kqd_grid_img_large {
    width: 47px;
    height: 47px;
}

.kqd_grid_4{
    width: 25%;
}