<div id="category" ng-if="!isPieceGroups">

    <!-- 头部logo -->
    <nav class="nav">
        <!-- first nav -->
        <div class="first-nav">
            <ul style="{{first_ul}}">
                <li ng-repeat="f_item in first_cate"
                    ng-click="gFirstIndex($index,f_item);">
                    <span ng-class="$index == indexFirstCate ? 'first-current custom_text_primary':''">
                        {{f_item.name}}
                    </span>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="nav" style="top: 42px;">
        <!-- second nav -->
        <div class="second-nav" ng-if="second_ul != ''">
            <ul style="{{second_ul}}">
                <li ng-repeat="s_item in second_cate"
                    ng-click="gSecondIndex($index,s_item);"
                    style="{{(second_cate.length == 1) ? 'min-width: 70px;' : ''}}"
                        >
                    <span ng-class="$index == indexSecondCate ? 'second-current custom_flat_primary':''">
                        {{s_item.name}}
                    </span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="cate-search" ng-if="false">
        <!--new search input-->
        <div class="cate-search-input">
            <div class="search_outer" ng-click="goToSearchPage()">
                <i class="weui_icon_search"></i>
                <!--<span class="" id="search_input">搜索你想要的商品</span>-->
                <input type="text" class="search_input" id="search_input"
                       placeholder="搜索你想要的商品" required/>

            </div>
        </div>
    </div>

    <div class="pro-content" id="pro-height" oc-lazy-load="SquareImg">
        <div class="product-item"
             ng-repeat="item in productList.products"
             ng-click="cateGoToDetails(item)"
                >
            <div class="product-img">
                <img square-img src="{{item.cover | defaultCover}}">
                <div ng-if="item.stock_balance == 0">
                    <img src="img/category/feature.png">
                </div>
            </div>
            <div class="product-name">
                <!--{{item.name | cutText:true:20:'...'}}-->
                {{item.short_name | defaultShortName}}
            </div>
            <div class="product-price">
                {{item.price | currency:'￥'}}
            </div>
        </div>

        <div class="weui_grid load-more-product" ng-if="!isPieceGroups" ng-show="load_more_btn_show">
            <div class="load-more-button">拼命加载中……</div>
        </div>
    </div>

</div>

<!--<div id="cate-footer">-->
    <!--<div ng-show="top_btn_show" class="topit" ng-class="{'dropdown':false}" ng-click="onTop()">-->
        <!--<img src="img/top.png">-->
    <!--</div>-->
<!--</div>-->

<!--拼团信息-->
<div id="fightGroups" class="fightGroups" ng-if="isPieceGroups">

    <div class="fight-groups" ng-if="promotedMaster != null">
        <div class="piece-group-proudct-info">
            <img src="{{promotedMaster.cover}}" class="piece-groups-ad-img" ng-click="cateGoToFightGroups(promotedMaster)">
            <div class="piece-groups-ad-text">

                <div class="marketing-name">
                    <span>{{promotedMaster.marketing_name}}</span>
                </div>
                <div class="sale-count">
                    <span>{{promotedMaster.min_participator_count}}人团 已团购{{promotedMaster.sale}}件</span>
                </div>
                <div class="sale-price">
                    <span style="color: #F15353; font-size: 16px;">{{promotedMaster.price | currency:'￥'}}</span><span>/{{promotedMaster.price * point_rate}}积分</span>
                </div>
                <div class="sale-save-money">
                    <span>拼团省{{promotedMaster.suggested_price - promotedMaster.price}}元</span>
                </div>

            </div>
        </div>

        <div class="cate-piece-group-promise">
            <div class="piece-group-promise-div">
                <div class="d-p-d-right">
                    <!--<img src="img/details/details-promise.png">-->
                    <label class="ion-ios-checkmark custom_text_primary_medium"></label>
                    <span>正品保证</span>
                </div>
                <div class="d-p-d-center">
                    <!--<img src="img/details/details-promise.png">-->
                    <label class="ion-ios-checkmark custom_text_primary_medium"></label>
                    <span>全场包邮</span>
                </div>
                <div class="d-p-d-left">
                    <!--<img src="img/details/details-promise.png">-->
                    <label class="ion-ios-checkmark custom_text_primary_medium"></label>
                    <span>7天退换</span>
                </div>
                <div class="d-p-d-last">
                    <!--<img src="img/details/details-promise.png">-->
                    <label class="ion-ios-checkmark custom_text_primary_medium"></label>
                    <span>假一赔十</span>
                </div>
            </div>
        </div>

        <div class="f-g-info-img-group" ng-if="promotedMaster.promoted_master.user_avatar != null">
            <div class="user-imgs">
                <div class="imgs-photo">
                    <img src="{{promotedMaster.promoted_master.user_avatar}}" class="user_img1"/>
                </div>
            </div>
        </div>


        <div class="fight-groups-info">
            <div class="f-g-info-btn weui_btn_primary" ng-click="cateGoToFightGroups(promotedMaster)">去参团 ></div>
        </div>
    </div>

    <div class="dividing_line">
        <span>/精选为您推荐/</span>
    </div>

    <div class="pro-content" id="fig-height" oc-lazy-load="SquareImg">
        <div class="product-item"
             ng-repeat="pieceGroupsItem in fightGroupsList.list"
             ng-click="cateGoToDetails(pieceGroupsItem)"
                >
            <div class="product-img">
                <img square-img src="{{pieceGroupsItem.cover | defaultCover}}">
                <!--<div ng-if="fightGroupsItem.stock_balance == 0">
                    <img src="img/category/feature.png">
                </div>-->
            </div>
            <div class="product-name">
                {{pieceGroupsItem.marketing_name | defaultShortName}}
            </div>
            <div class="p-content">
                <div class="product-price">
                    {{pieceGroupsItem.price | currency:'￥'}}
                </div>
                <div class="product-buy-count">
                    已团购{{pieceGroupsItem.sale}}件
                </div>
            </div>
        </div>

        <div class="weui_grid load-more-product" ng-if="isPieceGroups" ng-show="load_more_btn_show">
            <div class="load-more-button">拼命加载中……</div>
        </div>
    </div>


</div>

<!--拼团优惠券信息-->
<div id="red-packet">

    <div class="r-p-content">
        <div class="bg-img custom_titlebar_primary" style="border-radius: 8px;">
            <i class="close-btn" style="background-image: url('img/category/fightGroup/f-g-close-btn.png'); right: -15px;" ng-click="f_g_hide_bg()"></i>

            <div class="f-g-coupon-title">
                <div class="title-body">
                    <i style="background-image: url('img/category/fightGroup/f-g-coupon-title-img.png')"></i>
                    <span>您有{{activation_coupons.length}}张优惠券即将过期</span>
                </div>
            </div>

            <div class="f-g-coupon-content">

                <div class="coupon-item" ng-repeat="couponItem in activation_coupons">
                    <img src="img/category/fightGroup/f-g-coupon-item.png" class="c-item-img"/>
                    <div class="c-item-text">
                        <div class="custom_text_primary_medium">{{couponItem.name}}</div>
                        <!--<div style="color: #A8A8A8;">到期时间: 2017-05-26</div>-->
                        <div style="color: #A8A8A8;">到期时间: {{pieceGroupCouponDate(couponItem.valid_date)}}</div>
                    </div>
                    <div class="c-item-btn weui_btn_primary" ng-click="goToPieceGroup(couponItem)">
                        免费开团
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
