<div id="commonProblem">

    <!--<div class="comm-title-img">-->
        <!--<img src="img/my/commonProblem/common-problem-title.png">-->
    <!--</div>-->

    <div id="comm-pro-content">

        <div class="comm-pro-item" ng-click="goToServiceProblemPage(item)" ng-repeat="item in mycommonProblemInfo">
            <span class="numberImg custom_flat_primary_medium">{{$index + 1}}</span>
            <span>{{item.name}}</span>
            <i class="comm-pro-item-arrow"></i>
        </div>

        <!--<div class="comm-pro-item" ui-sref="serviceProblemPage" ng-init="itemIndex = 0">
            <p>1</p>
            <span>售后策划</span>
            <i class="comm-pro-item-arrow"></i>
        </div>
        <div class="comm-pro-item" ui-sref="commProblemPage">
            <img src="img/my/commonProblem/item-img-2.png">
            <span>常见问题</span>
            <i class="comm-pro-item-arrow"></i>
        </div>

        <div class="comm-pro-item" ui-sref="distributionProblemPage">
            <img src="img/my/commonProblem/item-img-3.png">
            <span>商品配送</span>
            <i class="comm-pro-item-arrow"></i>
        </div>-->

    </div>

</div>