
<div style="position: fixed; width: 100%; height: 100%">

<!-- 头部logo -->
<div class="hd">

    <!--new search input-->
    <div class="home-title-center">
        <div class="search_outer" ng-click="goToSearchPage()">
            <i class="weui_icon_search"></i>
            <!--<span class="" id="search_input">搜索你想要的商品</span>-->
            <!--<div style="display: inline-block; border-left: 3px solid #cccccc; height: 100%;"></div>-->
            <input type="search" class="search_input" id="search_input"
                ng-disabled="true"
                placeholder="搜索你想要的商品" required/>
        </div>
    </div>

    <div class="home-title-right">
        <a href="{{followus}}">
            <div class="top">
                <img src="img/home/follow.png">
            </div>
            <div class="bottom">关注</div>
        </a>
    </div>

</div>


<div scrolly id="content">

    <div class="content-head-area">

        <!-- 滑动广告 -->
        <div id="ad">
            <div ng-if="ad_list.length>0">
                <bs-switch data-type="slider" auto-play="2500" data-ratio="0.537">
                    <bs-switch-content>
                        <bs-switch-panel ng-repeat="img in ad_list">
                            <a ui-sref="{{img.target_url | formatDetailsLocation}}">
                                <img alt="" ng-src="{{img.image}}"
                                     style="width: 100%; height: auto;"/></a>
                        </bs-switch-panel>
                    </bs-switch-content>
                    <bs-switch-nav class="ui-switch-nav"></bs-switch-nav>
                </bs-switch>
            </div>
        </div>

        <!-- 公告栏 -->
        <div id="notice" ng-if="sysAnn != null">
            <div class="notice-right custom_text_primary">
                公告
            </div>
            <div class="vertical_line"></div>
            <div class="notice-center" ui-sref="systemAnnouncement">
                <marquee scrollamount="3">{{sysAnn}}</marquee>
            </div>
            <div class="notice-left" ui-sref="systemAnnouncement">
               <img src="img/home/arrow.png">
            </div>
        </div>

        <!-- 导航专区 -->
        <div id="ad_area" ng-if="ad_banner.length > 0">
            <div class="ad-left">
                <a href="{{isDetailsPage(ad_banner_1.target_url)}}" ng-click="ad_banner_url_action(ad_banner_1.target_url)">
                    <!--<img ng-src="{{ad_banner_1.image != null ? ad_banner_1.image : 'img/home/img1.png'}}">-->
                    <img ng-src="{{ad_banner_1.image}}">
                </a>
            </div>
            <div class="ad-right">
                <div class="ad-right-top">
                    <a href="{{isDetailsPage(ad_banner_2.target_url)}}" ng-click="ad_banner_url_action(ad_banner_2.target_url)">
                        <!--<img ng-src="{{ad_banner_2.image != null ? ad_banner_2.image : 'img/home/img2.png'}}">-->
                        <img ng-src="{{ad_banner_2.image}}">
                    </a>
                </div>
                <div class="ad-right-bottom">
                    <a href="{{isDetailsPage(ad_banner_3.target_url)}}" ng-click="ad_banner_url_action(ad_banner_3.target_url)">
                        <!--<img ng-src="{{ad_banner_3.image != null ? ad_banner_3.image : 'img/home/img3.png'}}">-->
                        <img ng-src="{{ad_banner_3.image}}">
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!--<div style="width: 100%; height: 1px; background-color: white;">
        <div style="height: 100%; background-color: #cccccc; margin: 0 10px;">
        </div>
    </div>-->

    <!--拼团商品-->
    <div class="fight-groups" ng-if="promotedMaster != null" style="margin-top: 8px;">
        <img src="{{promotedMaster.cover}}" class="fight-groups-ad-img" ng-click="homeGoToFightGroups(promotedMaster)">

        <div class="f-g-info-name">
            <span>{{promotedMaster.marketing_name}}</span>
        </div>

        <div class="fight-groups-info">
            <div class="f-g-info-price">
                <span>{{promotedMaster.price | currency:'￥'}}</span>
                <span class="group-count">已团购{{promotedMaster.sale > 0 ? promotedMaster.sale : 0}}件</span>
            </div>
            <div class="f-g-info-img-group" ng-if="promotedMaster.promoted_master != null">
                <div class="user-imgs">
                    <div class="imgs-photo">
                        <img src="{{promotedMaster.promoted_master.user_avatar}}" class="user_img1"/>
                    </div>
                    <div class="imgs-photo">
                        <img src="" class="user_img2"/>
                    </div>
                </div>
            </div>
            <!--<div class="f-g-info-btn weui_btn_primary" ng-click="homeGoToFightGroups(promotedMaster)">{{promotedMaster.isMasterOrder ? '去参团 >' : '去开团 >'}}</div>-->
            <div class="f-g-info-btn weui_btn_primary" ng-click="homeGoToFightGroups(promotedMaster)">去开团 ></div>
        </div>

    </div>

    <!-- 产品列表 -->
    <div class="s-size-area">

        <div ng-repeat="productItem in rec_product" style="margin-top: 8px;" on-finish-render>

            <div class="area_title" ng-click="goToGoodsList(productItem,$index);gotoDetail()">
            <!--<div class="area_title">-->
                {{productItem.name}}
                <img src="img/home/arrow.png">
            </div>

            <div class="area_cover" ng-if="productItem.cover != null" ng-click="goToGoodsList(productItem,$index);gotoDetail()">
                <img src="{{productItem.cover | defaultImg}}">
                <div class="area_cover_name" ng-if="check_description(productItem.description)">
                    <div class="div1">
                        <div class="div2">
                            <div class="div3">
                                <div ng-if="no_branch">{{productItem.description}}</div>
                                <div ng-if="des_branch">
                                    <div ng-repeat="d_b_itemt in des_branch_list">{{d_b_itemt}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div oc-lazy-load="SquareImg">
                <div id="homeProductGrids" class="area-product" ng-if="isShowProduct(productItem.is_show_products)">
                    <div class="weui_grids">
                        <a ui-sref="details({productId:item.id})" class="weui_grid product_item"
                           ng-repeat="item in productItem.products"
                                >
                            <div ng-click="gotoDetail()">
                                <!--product cover-->
                                <div class="pro-item-margin">
                                    <div class="weui_grid_icon home_grid_img">
                                        <img square-img ng-src="{{item.cover}}">
                                    </div>
                                </div>
                                <!--product desc-->
                                <div class="pro-item-desc">
                                    <div class="weui_grid_label home_grid_text"
                                         id="grid_item_{{$index}}"
                                            >
                                        <span>{{item.short_name | defaultShortName}}</span>
                                    </div>
                                    <div class="home_grid_footer_text">
                                        <div class="home_g_left c-left">{{item.price | currency:"￥"}}</div>
                                        <!--<div class="home_g_left c-left c-left-minor">/{{ (item.price * point_rate) | number:0}}<span style="font-size: 6px">积分</span></div>-->
                                        <!--<div ng-if="item.suggested_price>item.price" class="home_g_right c-right">-->
                                            <!--<span><s>{{item.suggested_price | currency:"￥"}}</s></span>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="weui_grid load-more-product" ng-show="home_load_more_btn_show">
                            <div class="load-more-button">拼命加载中……</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="footer">
    <div ng-show="top_btn_show" class="topit" ng-class="{'dropdown':false}" ng-click="onTop()">
        <img src="img/top.png">
    </div>
</div>

<div id="red-packet">

    <div class="r-p-content">
        <div class="bg-img" style="background-image: url('img/home/red-packet.png');">
            <i class="close-btn" style="background-image: url('img/home/close-btn.png');" ng-click="hide_bg()"></i>

            <div ng-if="is_follow">
            <!--<div>-->
                <div class="get-c-text">
                    <span>恭喜您获得{{coupon_count}}张优惠券</span>
                </div>
                <a href="{{followus}}" ng-if="user_follow_no">
                <!--<a href="{{followus}}" >-->
                    <div class="get-btn">
                        <span>点击关注领取</span>
                        <i class="r-p-btn-arrow" style="background-image: url('img/home/coupon-btn-arrow.png');"></i>
                    </div>
                </a>
                <a ng-click="open_view()" ng-if="user_follow_yes">
                    <div class="get-btn">
                        <span>点击查看</span>
                        <i class="r-p-btn-arrow" style="background-image: url('img/home/coupon-btn-arrow.png');"></i>
                    </div>
                </a>
            </div>

            <div ng-if="is_new_user">
                <div class="get-c-text">
                    <span>新用户红包</span>
                </div>
                <a href="{{followus}}" ng-if="new_user_follew_no">
                    <div class="get-btn">
                        <span>点击关注领取</span>
                        <i class="r-p-btn-arrow" style="background-image: url('img/home/coupon-btn-arrow.png');"></i>
                    </div>
                </a>
                <a ng-click="open_view()" ng-if="new_user_follew_yes">
                    <div class="get-btn">
                        <span>点击查看</span>
                        <i class="r-p-btn-arrow" style="background-image: url('img/home/coupon-btn-arrow.png');"></i>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>


</div>