<div id="sellerPage">

    <div class="seller-page-content">
        <div id="profile">
            <div class="my-page-head">
            <div class="user-photo">
                <img ng-src="{{userInfo.avatar != null ? userInfo.avatar : 'img/my/userPhoto.png'}}">
            </div>
            <div class="user-info">
                <div class="user-detail">
                    <p>
                        {{userInfo.name}}
                    </p>
                    <p>
                        <span class="owner_tag_left">推荐人：{{userInfo.inviter_name != null ? userInfo.inviter_name : "无"}}</span>
                    </p>

                    <div oc-lazy-load="FiveStar">
                        <p class="user-lv-text">
                            <span ng-if="owner_balance.is_member">级别: &nbsp;</span>
                            <span ng-if="owner_balance.is_agent">经销商</span>
                            <span ng-if="owner_balance.is_agent==0 && owner_balance.is_partner">经销商</span>
                            <span ng-if="owner_balance.is_agent==0 && owner_balance.is_partner==0 && owner_balance.is_seller">会员</span>
                            <!--<span class="five-star-parent" ng-if="owner_balance.is_agent==0 && owner_balance.is_partner">-->

                            <span class="five-star-parent" ng-if="owner_balance.is_crown==false && owner_balance.is_seller && owner_balance.partner_level.level <= 6">
                                <five-star rank-src="lib/custom/img/yellow_star.png" src="lib/custom/img/white_star.png"
                                           style="margin-top:1px;"
                                           rank="{{owner_balance.partner_level.level}}"></five-star>
                                <!--<level-progress style="margin-top:21px; margin-left: 2px;"
                                                value="{{owner_balance.level_percent}}"></level-progress>-->
                            </span>

                            <!--<span ng-if="owner_balance.is_agent==0 && owner_balance.is_partner" style="margin-top:15px;font-size:9px">{{owner_balance.level_percent}}%</span>-->

                            <span id="crown-parent" class="crown-parent" ng-if="owner_balance.is_crown">
                            <!--<span class="crown-parent" ng-if="owner_balance.is_seller">-->
                                  <img src="img/sellerPage/crown.png" class="agent_crown_img">
                            </span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        </div>

        <div class="seller-profit">
            <div class="s-p-top">
                <span style="font-size: 12px;">累计积分：</span>
                {{ ((owner_balance.total_reward  | NotNull) * point_rate) | number:0}}
            </div>
            <div class="s-p-bottom">
                <span style="font-size: 12px;">可用积分：</span>
                <!--<span style="color: red; padding-left: 4px; font-size: 14px;">￥</span>-->

                <div class="commission-price">{{ ((owner_balance.balance  | NotNull) * point_rate) | number:0}}
                </div>
                <div ng-if="owner_balance.is_agent || owner_balance.is_partner"
                     class="cash-botton" ng-click="goToWithdrow(userInfo.phone,owner_balance.balance)">
                    <img src="img/sellerPage/takeCash.png">
                </div>
                <div class="points-desc" ng-if="owner_balance.is_agent==0 && owner_balance.is_partner==0 && owner_balance.is_seller">
                    【积分仅限在商城兑换商品,不可兑现】
                </div>
            </div>
        </div>

        <div id="profile1">
            <div class="weui_grids">
                <a ui-sref="myTeam" class="weui_grid" data-id="button">
                    <div class="weui_grid_icon custom_size_img_large">
                        <img src="img/sellerPage/team.png">
                    </div>
                    <p class="weui_grid_label">
                        我的朋友
                    </p>
                </a>
                <a ui-sref="promotionOrder" class="weui_grid" data-id="toast">
                    <div class="weui_grid_icon custom_size_img_large">
                        <img src="img/sellerPage/sellerOrder.png">
                    </div>
                    <p class="weui_grid_label">
                        积分订单
                    </p>
                </a>
                <a class="weui_grid" data-id="cell" ng-click="goToDistributionInfo()">
                    <div class="weui_grid_icon custom_size_img_large">
                        <img src="img/sellerPage/sellerinfo.png">
                    </div>
                    <p class="weui_grid_label">
                        我的信息
                    </p>
                </a>
                <bind-javascript javascript="{{qrcode_js}}">
                    <a class="weui_grid" data-id="cell" ng-click="initQrcode(userInfo.invitation_code)">
                        <div class="weui_grid_icon custom_size_img_large">
                            <img src="img/sellerPage/QRcode.png">
                        </div>
                        <p class="weui_grid_label">
                            推广码
                        </p>
                    </a>
                </bind-javascript>

            </div>
        </div>

    </div>
</div>

<div id="qrcode-backgroud">
    <div id="light" class="white_content">

        <div class="qrcode-title custom_flat_primary_medium">
            <div class="qrcode-title-content">
                <img ng-src="{{userInfo.avatar != null ? userInfo.avatar : 'img/my/userPhoto.png'}}">

                <div class="qrcode-title-right">
                    <p>{{userInfo.name}}</p>

                    <div>{{userInfo.uid}}</div>
                </div>
            </div>
        </div>

        <div ng-if="false" class="qrcode-tip">
            <div class="qrcode-tip-div">
                <p>邀你分享十美优品商城，攒积分免费领取商品就那么简单！</p>
                <!--<p>大众创业，万众创新</p>-->
            </div>
        </div>

        <div class="qrcode-img">
            <!--<div id="dituContent">-->
            <!--</div>-->
            <img ng-src="{{userInfo.invitation_qrcode_url}}">
        </div>

        <div ng-if="false" class="qrcode-tip-footer">长按识别二维码</div>

        <span ng-click="close_qrcode()">
            关闭
        </span>
    </div>
</div>
