<div id="addressManager">
    <div class="view-cart sett-padding">
        <!-- 头部 -->
        <!--<header class="bar top-bar clearfix cart-header settlement-header">-->
        <!--<span class="cart-title">修改地址</span>-->
        <!--</header>-->

        <form ng-submit="editContactSubmit()" id="contactMan">
            <!-- 基本信息 -->
            <!--<div class="weui_cells_title hide-area">&nbsp;</div>-->
            <div class="weui_cells weui_cells_form settlement-font" style="margin-top: 0;">
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label">收货人</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input type="hidden" ng-model="contact.id" ng-init="contact.id=editC.id">
                        <input class="weui_input" type="text" placeholder="请输入姓名" ng-model="contact.contact_user"
                               ng-init="contact.contact_user=editC.contact_user">
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label">手机号</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="tel" placeholder="手机号码" ng-model="contact.phone"
                               ng-init="contact.phone=editC.phone">
                    </div>
                </div>
                <div class="weui_cell weui_cell_select weui_select_after">
                    <div class="weui_cell_hd">
                        收货时间
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select" name="select2">
                            <!--  ng-init="contact.receiving_time=editC.receiving_time"
                                ng-options="t.key as t.value for t in receivingTime" ng-model="contact.receiving_time"-->
                            <option value="收货时间不限">收货时间不限</option>
                            <option value="周六日/节假日收货">周六日/节假日收货</option>
                            <option value="周一至周五收货">周一至周五收货</option>
                        </select>
                    </div>
                </div>
                <div class="weui_cell weui_cell_select weui_select_after">
                    <div class="weui_cell_hd">
                        设为默认地址
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select" name="select3" ng-init="contact.is_default=editC.is_default==1?1:0"
                                ng-options="i.key as i.value for i in isDefault" ng-model="contact.is_default">
                            <!--<option value="1">是</option>-->
                            <!--<option value="0">否</option>-->
                        </select>
                    </div>
                </div>
            </div>

            <!-- 地址 -->
            <!--<div class="weui_cells_title">地址</div>-->
            <div class="weui_cells weui_cells_form" id="addressPcd">
                <!--<div class="weui_cell">-->
                <!--<div class="weui_cell_hd">-->
                <!--<label class="weui_label invoice-title">所在地区</label>-->
                <!--</div>-->
                <!--<div class="weui_cell_bd weui_cell_primary">-->
                <!--<input id="city-picker" type="text" class="weui_input settlement-font" cityPicker-->
                <!--ng-model="contact.pcd" ng-init="contact.pcd=pcd||'广东 广州 越秀区'" readonly>-->
                <!--</div>-->
                <!--</div>-->

                <div class="weui_cell settlement-font">
                    <div class="weui_cell_hd">
                        <label class="weui_label">所在地区</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="text" placeholder="输入省市区" ng-model="contact.pcd"
                               ng-init="contact.zip=editC.zip">
                    </div>
                </div>

                <div class="weui_cell settlement-font">
                    <div class="weui_cell_hd">
                        <label class="weui_label">邮编</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="tel" placeholder="邮编" ng-model="contact.zip"
                               ng-init="contact.zip=editC.zip">
                    </div>
                </div>
            </div>

            <!-- 地址选择栏 -->
            <!--<div id="addressPcd_wrap">-->
            <!--<div class="weui_mask_transition" id="mask_pcd"></div>-->
            <!--<div class="weui_actionsheet" id="weui_actionsheet_pcd">-->
            <!--<div class="weui_actionsheet_menu">-->
            <!--<div class="weui_actionsheet_cell"  ng-repeat="province in provinces">{{province.name}}</div>-->
            <!--</div>-->
            <!--<div class="weui_actionsheet_action">-->
            <!--<div class="weui_actionsheet_cell" id="actionsheet_cancel_pcd">取消</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!-- 填写详细地址 -->
            <!--<div class="weui_cells_title">详细地址</div>-->
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <textarea class="weui_textarea settlement-font" placeholder="请输入详细地址信息" rows="2"
                                  ng-model="contact.detail" ng-init="contact.detail=editC.detail"></textarea>
                        <!--<div class="weui_textarea_counter"><span>0</span>/200</div>-->
                    </div>
                </div>
            </div>

            <br>

            <div class="custom_weui_btn_border">
                <input type="submit" class="weui_btn custom_weui_btn_primary" value="确认">
            </div>
        </form>
        <!--{{contact}}-->
    </div>
</div>