<div id="myTeam">


    <div class="t-m-top">
        <img src="img/sellerPage/commission/my-team-title.png">
    </div>

    <nav id="nav">
        <div class="nav-warp">
            <ul>
                <li ng-class="{active : currentId == title.id}" ng-repeat="title in my_team_titles"
                    ui-sref="{{title.srefName}}"
                    ng-click="clickme(title.id);">
                    {{title.name}}(-)
                </li>
            </ul>
        </div>
    </nav>

    <div class="myTeam-content">
        <div style="margin-top: 205px;">

            <div class="t-m-item" ng-repeat="item in myTeamList">
                <div class="item-left">
                    <img src="img/sellerPage/commission/default-avatar.jpg">
                </div>
                <div class="item-right">
                    <div>昵称：Andy</div>
                    <div>加入时间：2016-5-10 13:58</div>
                    <div>人气指数：-</div>
                    <!--<div>更新用户信息</div>-->
                </div>
            </div>

        </div>
    </div>

</div>