<div id="myTeam">


    <div class="t-m-top">
        <img src="img/sellerPage/commission/comm-title.png">
    </div>

    <nav id="nav">
        <div class="nav-warp">
            <ul>
                <li ng-class="{active : currentId == title.id}" ng-repeat="title in my_team_titles"
                    ui-sref="{{title.srefName}}"
                    ng-click="clickme(title.id);">
                    {{title.name}}
                </li>
            </ul>
        </div>
    </nav>

    <div class="myTeam-content">

        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>
        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>

        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>

        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>

        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>

        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>

        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>

        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>

        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>

        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>

        <div class="t-m-item" ng-repeat="item in myTeamList">
            <div class="item-left">
                <div class="i-l-top">{{item.user_name}}</div>
                <div class="i-l-bottom">{{isSeller(item.seller_ship)}}</div>
            </div>
            <div class="item-right">
                <img src="">
            </div>
        </div>

    </div>

</div>