<div id="commission">

    <div id="comm-content">

        <div>
            <div ng-repeat="group in groups">
                <div class="item-stable"
                     ng-click="toggleGroup(group)"
                     ng-class="{active: isGroupShown(group)}"
                        >
                    本月账单明细
                    <i class="item-arrow-right"></i>
                </div>
                <div class="item-accordion"
                     ng-repeat="item in group.items"
                     ng-show="isGroupShown(group)"
                        >

                    <div class="item-accordion-head">
                        <div>
                            本月总收入：<span style="color: #C50303;">5658.00元</span>
                        </div>
                        <div style="font-size: 14px;">
                            已结算收入：<span style="color: #413D3E; margin-right: 6px;">3720.00元</span>未结算收入：<span style="color: #413D3E;">2107.00元</span>
                        </div>
                    </div>

                    <table class="commission-item-table" cellpadding="0" cellspacing="0">

                        <tr class="item-color-td">
                            <td class="item-td-row">
                                <span>周三</span>
                                <p>05-25 15:18:06</p>
                            </td>
                            <td class="item-td-row">
                                <!--<span>销售商</span>-->
                                <span>经销商</span>
                                <p>收入类型</p>
                            </td>
                            <td class="item-td-row">
                                <span>￥18.00</span>
                                <p>未结算收入</p>
                            </td>
                        </tr>
                        <tr class="item-color-td">
                            <td class="item-td-row">
                                <span>周二</span>
                                <p>05-25 15:18:06</p>
                            </td>
                            <td class="item-td-row">
                                <!--<span>代理商</span>-->
                                <span>经销商</span>
                                <p>收入类型</p>
                            </td>
                            <td class="item-td-row">
                                <span>￥18.00</span>
                                <p>未结算收入</p>
                            </td>
                        </tr>
                        <tr class="item-color-td">
                            <td class="item-td-row">
                                <span>周一</span>
                                <p>05-25 15:18:06</p>
                            </td>
                            <td class="item-td-row">
                                <span>经销商</span>
                                <p>收入类型</p>
                            </td>
                            <td class="item-td-row">
                                <span>￥18.00</span>
                                <p>未结算收入</p>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>

</div>