#commission{
    background-color: #F8F8F8;
    height: 100%;
}

#commission #comm-content{
    overflow-x: hidden;
    overflow-y: scroll;
}

#comm-content .item-stable{
    height: 38px;
    line-height: 38px;
    background-color: #C50303;
    padding-left: 10px;
    color: white;
    margin-bottom: 6px;
}

#comm-content .active{
    background-color: #C50303;
}

#comm-content .item-arrow-right{
    width: 20px;
    height: 20px;
    font-size: 35px;
    float: right;
    margin-top: 7px;
    margin-right: 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url(../../img/sellerPage/orders/order-item-arrow.png);
}

#comm-content .item-accordion{
    background-color: white;
    /*border-top: 1px solid #710909;*/
    /*border-left: 1px solid #710909;*/
    /*border-right: 1px solid #710909;*/
    /*border-bottom: 1px solid #710909;*/
}

#comm-content .item-accordion .item-accordion-head{
    height: 50px;
    padding: 7px;
}

#comm-content .item-accordion .commission-item-table{
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: #E9EDEE;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
}