#commission{
    background-color: #F8F8F8;
    height: 100%;
}

#commission #comm-content{
    overflow-x: hidden;
    overflow-y: scroll;
}

#comm-content .item-stable{
    height: 42px;
    line-height: 42px;
    background-color: #C50303;
    padding-left: 10px;
    color: white;
    margin-bottom: 6px;
    text-align: center;
    font-weight: 700;
}

#comm-content .active{
    background-color: #C50303;
}

#comm-content .item-arrow-right{
    width: 20px;
    height: 20px;
    font-size: 35px;
    float: right;
    margin-top: 7px;
    margin-right: 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url(../../img/sellerPage/orders/order-item-arrow.png);
}

#comm-content .item-accordion{
    background-color: white;
    /*border-top: 1px solid #710909;*/
    /*border-left: 1px solid #710909;*/
    /*border-right: 1px solid #710909;*/
    /*border-bottom: 1px solid #710909;*/
}

#comm-content .item-accordion .item-accordion-head{
    height: 50px;
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    color: #848484;
}

#comm-content .item-accordion .item-accordion-head div{
    line-height: 25px;
}

#comm-content .item-accordion .commission-item-table{
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: #E9EDEE;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
}

#comm-content .item-accordion .commission-item-table tr{
    height: 45px;
}

#comm-content .item-accordion .commission-item-table tr td{
    width: 33%;
}

#comm-content .item-accordion .commission-item-table .item-color-td:nth-child(odd){

}

#comm-content .item-accordion .commission-item-table .item-color-td:nth-child(even){
    background-color: white;
}

#comm-content .item-accordion .commission-item-table .item-td-row span{
    font-size: 16px;
    color: #5F5F5F;
    font-weight: 600;
}

#comm-content .item-accordion .commission-item-table .item-td-row p{
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #ABAFB0;
}