#distributionInfo{
    background-color: #F8F8F8;
    height: 100%;
}

#distributionInfo .weui_cells{
    margin-top: 0;
}

#distributionInfo .weui_cells .weui_label{
    width: 80px;
    font-size: 14px;
    text-align: right;
}

#distributionInfo .weui_cells .weui_input{
    font-size: 14px;
}

/*#distributionInfo .weui_btn_primary{*/
    /*background-color: #C20403;*/
/*}*/
/*

#distributionInfo .weui_btn_primary:not(.weui_btn_disabled):active {
    color: rgba(255, 255, 255, 0.4);
    background-color: #D20403;
}*/
