#myTeam{
    background-color: white;
    min-height: 100%;
}

#myTeam .t-m-top{
    width: 100%;
    height: 45px;
    position: fixed;
    background-color: red;
    z-index: 101;
}

#myTeam .t-m-top .home-title-center{
    left: 40px;
    right: 40px;
    height: 45px;
    background-color: red;
}

#myTeam #nav{
    width:100%;
    height:100px;
    position:fixed;
    background-color: #E8EAEB;
    color: #676D6E;
    top: 45px;
    z-index: 101;
}

#myTeam #nav img{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 7px;
    border-radius: 50%;
    float: left;
}

#myTeam #nav .nav-right{
    min-width: 50%;
    height: 100px;
}

#myTeam #nav .nav-right .my-team-info{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 12px;
}

#myTeam #nav .nav-right .my-team-info span{
    float: left;
    margin-right: 12px;
    font-size: 18px;
}

#myTeam #nav .nav-right .my-team-info div{
    min-width: 20px;
    float: left;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    background-color: red;
    color:white;
    padding: 3px 7px 3px 7px;
    margin-top: 6px;
    border-radius: 6px;
}

#myTeam #nav .nav-right .concerned-count{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}




#myTeam .myTeam-content{
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 7px 7px 7px;
    z-index: 100;
}


#myTeam .t-m-item{
    font-size: 14px;
    height: 81px;
    background-color: white;
    margin-top: 7px;
    border: 1px solid #cccccc;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
}

#myTeam .item-left{
    margin-top: 8px;
    position: absolute;
}

#myTeam .item-left img{
    width: 65px;
    height: 65px;
}

#myTeam .item-right{
    height: 90px;
    margin-top: 5px;
    margin-left: 75px;
}

#myTeam .item-right .item-comcerned{
    min-width: 15px;
    height: 14px;
    line-height: 14px;
    font-size: 11px;
    background-color: red;
    color:white;
    padding: 1px 3px 1px 3px;
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 3px;
    float: left;
}



#myTeam .item-right div{
    height: 23px;
    line-height: 23px;
    font-size: 14px;
    color:#9D9D9D;
}