#promotionOrder{
    background-color: #F8F8F8;
    min-height: 100%;
}

#promotionOrder .promotionOrder-content{
}

#promotionOrder .item-stable{
    height: 38px;
    line-height: 38px;
    color:white;
    background-color: #C50303;
    text-align: center;
    padding-left: 10px;
    margin-bottom: 6px;
}

#promotionOrder .active{
    background-color: #C50303;
}

#promotionOrder .item-arrow-right{
    width: 20px;
    height: 20px;
    font-size: 35px;
    float: right;
    margin-top: 9px;
    margin-right: 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url(../../img/sellerPage/orders/order-item-arrow.png);
}

#promotionOrder .item-accordion{
    background-color: white;
    /*padding: 5px;*/
}

#promotionOrder .order-item-text{
    font-size: 14px;
    height: 123px;
    line-height: 24px;
    color:#5D696B;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

#promotionOrder .order-item-text .orders-count{
    text-align: left;
    margin-bottom: 5px;
}

#promotionOrder .order-item-text .orders-count p{
    width: 50%;
    float: left;
}

#promotionOrder .order-item-explain{
    font-size: 12px;;
    line-height: 20px;
    color:#A3A3A3;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    float: none;
}

#promotionOrder .order-list{
    margin-top: 8px;
    background-color: white;
    margin-bottom: 5px;
}

#promotionOrder .order-list-item{
    /*border-top: 1px solid #cccccc;*/
    border-bottom: 1px solid #cccccc;
    padding:7px;
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    background-color: #E9EDEE;
    color: #5D696B;
    font-size: 13px;
    border-bottom: 1px solid #cccccc;
}

#promotionOrder .order-list-item .p-order-number{
    height: 22px;
}

/*#promotionOrder .order-list-item .p-order-type{*/
/*}*/

/*#promotionOrder .order-list-item .p-order-price{*/
/*}*/

/*#promotionOrder .order-list-item .p-order-time{*/
/*}*/


/*color*/
.pro-black{
    color: #3A3A3A;
}
.pro-red{
    color: #C50303;
}

