#sellerPage{
    background-color: #fff;
    width: 100%;
    min-height: 100%;
}

#sellerPage .seller-page-content{
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
}

/*#sellerPage .account-info{*/
    /*width: 100%;*/
    /*height: 65px;*/
    /*background-color: white;*/
    /*position: relative;*/
/*}*/

/*#sellerPage .account-avatar{*/
    /*padding: 10px 7px 0 10px;*/
    /*float: left;*/
/*}*/

/*#sellerPage .account-avatar img{*/
    /*width: 45px;*/
    /*height: 45px;*/
    /*background-color: #007aff;*/
/*}*/

/*#sellerPage .account-name{*/
    /*height: 65px;*/
    /*line-height: 65px;*/
    /*float: left;*/
/*}*/

/*#sellerPage .acount-arrow{*/
    /*width: 50px;*/
    /*height: 65px;*/
    /*line-height: 65px;*/
    /*position: absolute;*/
    /*right: 5px;*/
    /*background-color: #007aff;*/
/*}*/



#sellerPage .seller-profit{
    margin-left: 25px;
    width: 100%;
    /*height: 130px;*/
    height: 95px;
    /*background-color: #FF6600;*/
    background-color: #fff;
    /*margin-top: 2px;*/
}
#sellerPage .seller-commissions{
    width: 100%;
    height: 70px;
    background-color: #e9eaec;
}
#sellerPage .seller-commissions .seller-commission{
    width: 33.33333%;
    height: 50px;
    float: left;
    list-style-type: none;
    color: #868888;
    padding: 10px 0 10px;
}
#sellerPage .seller-commissions .seller-commission .seller-commission-value{
    /*padding:7px 15px;*/
    text-align: center;
}

.li-border {
    border-right: 1px solid #9fa0a2;
}
.seller-commission-value .commission-text{
    font-size: 15px;
}
.seller-commission-value .commission-number{
    font-size: 18px;
}

#sellerPage .s-p-top{
    padding-top: 10px;
    height: 35px;
    line-height: 35px;
    color: #6e6e6e;
    /*text-align: center;*/
    /*color: white;*/
    /*font-weight: bold;*/
}

/*#sellerPage .s-p-center{*/
    /*font-size: 60px;*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*text-align: center;*/
    /*color: white;*/
    /*font-weight: bold;*/
/*}*/

#sellerPage .s-p-bottom{
    width: 100%;
    color: #6e6e6e;
    /*height: 35px;*/
    /*line-height: 35px;*/
    /*text-align: center;*/
    /*color: white;*/
}
#sellerPage .s-p-bottom span{
    /*width: 200px;*/
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}


#sellerPage .seller-not-settled{
    width: 100%;
    height: 40px;
    background-color: white;
    margin-top: 2px;
    position: relative;

}

#sellerPage .s-n-name{
    height: 40px;
    line-height: 40px;
    position: absolute;
    padding-left: 10px;

}

#sellerPage .s-n-arrow-price{
    text-align: right;
    min-width: 60px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 47px;
}

#sellerPage .s-n-arrow{
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 5px;
    background-color: #007aff;
}


#sellerPage .seller-box{
    height: 124px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

#sellerPage .seller-box img{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    /*background-color: #D69CFF;*/
}

#sellerPage .box-text{
    height: 30px;
    line-height: 30px;
    margin-top: 7px;
}

#sellerPage .box-footer-text{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.black_overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content{
    display: none;
    position: absolute;
    top: 25%;
    left: 15%;
    right: 15%;
    text-align: center;
    /*width: 50%;*/
    height: 280px;
    padding: 16px;
    border: 16px solid RED;
    background-color: white;
    z-index:1002;
    overflow:auto
}

.qrcpde-position{
    width: 100%;
    height: 50px;
    background-color: #007aff;
    align-content: center;
}

#dituContent{
    text-align: center;
    align-content: center;
}