#sellerPage{
    background-color: #fff;
    width: 100%;
    min-height: 100%;
}

#sellerPage .seller-page-content{
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
}

/*#sellerPage .account-info{*/
    /*width: 100%;*/
    /*height: 65px;*/
    /*background-color: white;*/
    /*position: relative;*/
/*}*/

/*#sellerPage .account-avatar{*/
    /*padding: 10px 7px 0 10px;*/
    /*float: left;*/
/*}*/

/*#sellerPage .account-avatar img{*/
    /*width: 45px;*/
    /*height: 45px;*/
    /*background-color: #007aff;*/
/*}*/

/*#sellerPage .account-name{*/
    /*height: 65px;*/
    /*line-height: 65px;*/
    /*float: left;*/
/*}*/

/*#sellerPage .acount-arrow{*/
    /*width: 50px;*/
    /*height: 65px;*/
    /*line-height: 65px;*/
    /*position: absolute;*/
    /*right: 5px;*/
    /*background-color: #007aff;*/
/*}*/



#sellerPage .seller-profit{
    /*margin-left: 25px;*/
    width: 100%;
    /*height: 130px;*/
    height: 95px;
    /*background-color: #FF6600;*/
    background-color: #fff;
    /*margin-top: 2px;*/
    position: relative;
    border-bottom: 1px solid #cccccc;
}
#sellerPage .seller-commissions{
    width: 100%;
    height: 70px;
    background-color: #e9eaec;
}
#sellerPage .seller-commissions .seller-commission{
    width: 33.33333%;
    height: 50px;
    float: left;
    list-style-type: none;
    color: #868888;
    padding: 10px 0 10px;
}
#sellerPage .seller-commissions .seller-commission .seller-commission-value{
    /*padding:7px 15px;*/
    text-align: center;
}

.li-border {
    border-right: 1px solid #9fa0a2;
}
.seller-commission-value .commission-text{
    font-size: 15px;
}
.seller-commission-value .commission-number{
    font-size: 18px;
}

#sellerPage .s-p-top{
    padding-top: 10px;
    padding-left: 15px;
    height: 35px;
    line-height: 35px;
    color: #6e6e6e;
    font-size: 15px;
    /*text-align: center;*/
    /*color: white;*/
    /*font-weight: bold;*/
}

#sellerPage .s-p-bottom{
    color: #6e6e6e;
    /*height: 35px;*/
    /*line-height: 35px;*/
    /*text-align: center;*/
    /*color: white;*/
    margin-top: 6px;
}

#sellerPage .seller-profit .points-desc{
    font-size: 10px;
    display: block;
    float: right;
    margin-top: 12px;
    margin-right: 6px;
}

#sellerPage .s-p-bottom span{
    /*width: 200px;*/
    line-height: 24px;
    display: block;
    float: left;
    /*margin-right: 5px;*/
    margin-top: 5px;
    padding-left: 15px;
}

#sellerPage .s-p-bottom .commission-price{
    font-size: 26px;
    color: red;
    position: absolute;
    margin-left: 78px;
    bottom: 9px;
}

#sellerPage .s-p-bottom .cash-botton{
    position: absolute;
    right: 8px;
}

#sellerPage .s-p-bottom .cash-botton img{
    width: 95px;
    height: auto;
    display: inline;
    margin-top: 2px;
}


#sellerPage .seller-not-settled{
    width: 100%;
    height: 40px;
    background-color: white;
    margin-top: 2px;
    position: relative;

}

#sellerPage .s-n-name{
    height: 40px;
    line-height: 40px;
    position: absolute;
    padding-left: 10px;

}

#sellerPage .s-n-arrow-price{
    text-align: right;
    min-width: 60px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 47px;
}

#sellerPage .s-n-arrow{
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 5px;
    background-color: #007aff;
}


#sellerPage .seller-box{
    height: 124px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

#sellerPage .seller-box img{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    /*background-color: #D69CFF;*/
}

#sellerPage .box-text{
    height: 30px;
    line-height: 30px;
    margin-top: 7px;
}

#sellerPage .box-footer-text{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

#sellerPage .owner_tag_left {
    font-size: 12px;
    /*background-color: white;*/
    color: white;
    padding: 1px;
    border-radius: 2px;
    margin-top: 5px;
    /*margin-left: 5px;*/
}

#sellerPage .lv_status{
    position: absolute;
    bottom: 2px;
    padding-left: 3px;
}

/**/

#qrcode-backgroud{
    width: 100%;
    height: 100%;
    background-color:rgba(127,127,127,0.5);
    position: absolute;
    display: none;
    z-index:1002;
    top: 0;
}

.black_overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content{
    /*display: none;*/
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    text-align: center;
    /*width: 50%;*/
    height: 400px;
    /*padding: 16px;*/
    border-radius: 12px;
    /*background-color: #F8F8F8;*/
    background-color: #FFFFFF;
    z-index:1002;
    overflow:auto
}

.white_content .qrcode-title{
    width: 100%;
    height: 75px;
    /*background-color: #AD589B;*/
}

.white_content .qrcode-title .qrcode-title-content{
    /*margin: 0 auto;*/
    width: 100%;
    height: 75px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.white_content .qrcode-title .qrcode-title-content img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 5px;
}
.white_content .qrcode-title .qrcode-title-right{
    padding-top: 10px;
    text-align: left;
}
.white_content .qrcode-title .qrcode-title-right p{
    font-size: 18px;
    color: white;
}
.white_content .qrcode-title .qrcode-title-right div{
    font-size: 14px;
    color: white;
}

.white_content .qrcode-tip{
    z-index:9999;
    margin-top: 6px;
    margin-bottom: 2px;
    text-align: center;
}

.white_content .qrcode-tip .qrcode-tip-div{
    margin: 0 auto;
    width: 220px;
}

.white_content .qrcode-tip .qrcode-tip-div p{
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    color: red;
    text-align: left;
}

.white_content span{
    z-index:9999;
    position:absolute;
    bottom:12px;
    left:0;
    right:0;
}

.qrcpde-position{
    width: 100%;
    height: 50px;
    background-color: #007aff;
    align-content: center;
}

.qrcode-img{
    margin: 0 auto;
    width: auto;
    height: 280px;
    /*line-height: 230px;*/
    background-color: white;
    bottom: 50px;
}
.qrcode-img img{
    width: auto;
    height: 100%;
    bottom: 8px;
}

/*.qrcode-img div{
    margin: 0 auto;
    width: 210px;
    height: 210px;
    padding-top: 12px;
}*/

.qrcode-tip-footer{
    font-size: 14px;
    color: #6e6e6e;
    margin-top: 6px;
    margin-bottom: 5px;
}

#sellerPage .five-star-parent {
    /*position: absolute;*/
    bottom: 2px;
    padding-left: 2px;
}

#sellerPage .five-star-parent img{
    width: 13px;
    height: 13px;
    /*margin-top: 3px;*/
}


#sellerPage .crown-parent {
    /*position: absolute;*/
    /*bottom: 2px;*/
    padding-left: 4px;
    margin-bottom: 1px;
}

#sellerPage #crown-parent .agent_crown_img{
    width: 28px;
    height: auto;
    position: absolute;
    bottom: -16px;
}

.weui_grid:active {
    background-color: white;
}