#withdraw .user-info-body {
    background-color: #f0f0f0;
    height: 100%;
}

#withdraw .weui_btn_primary{
    background-color: #C20403;
}

#withdraw .weui_btn_primary:not(.weui_btn_disabled):active {
    color: rgba(255, 255, 255, 0.4);
    background-color: #D20403;
}

#withdraw .draw {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}

#withdraw .allowWithdraw {
    margin-bottom: 30px;
    padding-left: 15px;
}

#withdraw .limit {
    color: #cc0000;
}

#withdraw .sub {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

#withdraw .user-info-body .desc{
    font-size: 12px;
    display: block;
    float: bottom;
}

