#withdraw{
}

#withdraw .user-info-body {
    background-color: #f0f0f0;
    padding-top: 15px;
}

#withdraw .draw {
    margin-top: 12px;
    background-color: #fff;
}

#withdraw .weui_cell_bd input {
    width: 45%;
    float: left;
}

#withdraw .show_convert {
    width: 52%;
    line-height: 20px;
    border-left: 1px solid #cccccc;
    padding-left: 6px;
    white-space: nowrap;
    float: left;
}

#withdraw .allowWithdraw {
    margin-bottom: 30px;
    padding-left: 15px;
}

#withdraw .limit {
    color: #cc0000;
}

#withdraw .user-info-body .point_explain{

   margin:15px 15px 5px 15px;
    height:60px;
    position: relative
}


#withdraw .user-info-body .account_point{
    font-size: 16px;
    color:#3C3C3C;
    margin-left: 7px;
}

#withdraw .user-info-body .desc{
    position: absolute;
    font-size: 12px;
    /*color:red;*/
    text-align: left;
    top: 27px;
    left: 3px;
}

/*#withdraw .user-info-body img{*/
    /*position: absolute;*/
    /*width:18px;*/
    /*height:18px;*/
    /*opacity:0.5;*/
    /*top: 25px;*/
/*}*/

#withdraw .user-info-body .exchange_record{
    width: 100%;
    height: 20px;
    line-height: 36px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 14px;
}
#withdraw .user-info-body .exchange_record img{
    width: 20px;
    height: 20px;
    margin-left: 22px;
    margin-right: 6px;
}
#withdraw .user-info-body .exchange_record span{
    left: 21px;
}
#withdraw .user-info-body .exchange_record i{
    width: 16px;
    height: 16px;
    background-size: 8px 16px;
    background-repeat: no-repeat;
    background-image: url(../../img/sellerPage/offLineShop/arrow.png);
    margin-left: 6px;
}
