<div id="userInfo">

    <div class="user-avatar">
        <img ng-src="{{userInfo.avatar != null ? userInfo.avatar : 'img/my/userPhoto.png'}}">
        <span style="margin-left: 5px;">{{userInfo.name}}</span>
    </div>

    <div class="user-info-body">
        <form ng-submit="">
            <!-- 基本信息 -->
            <div class="weui_cells weui_cells_form settlement-font">
                <!--<div class="weui_cell">-->
                    <!--<div class="weui_cell_hd">-->
                        <!--<label class="weui_label">昵称：</label>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--<input class="weui_input" type="text" placeholder="请输入昵称" ng-model="userInfo.name">-->
                    <!--</div>              -->
                <!--</div>-->
                <!--<div class="weui_cell">-->
                    <!--<div class="weui_cell_hd">-->
                        <!--<label class="weui_label">ID：</label>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--<input class="weui_input" type="tel" placeholder="请输入ID" ng-model="userInfo.weixin">-->
                    <!--</div>-->
                <!--</div>-->

                <div class="weui_cell weui_cell_select weui_select_after">
                    <div class="weui_cell_hd">
                        性别：
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select" ng-options="i.key as i.value for i in sexDefault" ng-model="userInfo.sex" ng-init="userInfo.sex=0" style="{margin-left: 3px; padding: 0;}">
                          <!--  <option value="3" selected="selected">请选择</option>
                            <option value="1">男</option>
                            <option value="0">女</option>-->
                        </select>
                    </div>
                </div>

                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label">生日：</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <!--<input class="weui_input" type="text" id="data_time"  data-toggle='date'-->
                               <!--placeholder="选择日期" ng-model="userInfo.birthday">-->
                        <mb-datepicker element-id='date1'
                                       input-class="testClass"
                                       input-name="testName"
                                       arrows="arrows"
                                       calendar-header="header"
                                       date="date"
                                       date-format="YYYY-MM-DD"></mb-datepicker>
                    </div>
                </div>




                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label" style="margin-top: -36px;">介绍：</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <textarea class="weui_textarea settlement-font" placeholder="请输入详细地址信息" rows="3"
                                  ng-model="userInfo.details"></textarea>
                    </div>
                </div>

            </div>

            <div style="margin-top: 15px; margin-left: 20px;margin-right: 20px;">
                <input type="submit" class="weui_btn custom_weui_btn_primary" value="确认"
                        ng-click="postUserInfo()">
            </div>

        </form>
    </div>

</div>