#goodsList{
  min-height: 100%;
  background-color: #F8F8F8;
}

#goodsList #content{
}

#goodsList .weui_tab_bd{
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 42px;
}

#goodsList .weui_navbar{
  background-color: #dcdcdc;
}

#goodsList .weui_navbar:after{
}

#goodsList .weui_navbar .weui_navbar_item{
  padding: 9px 0;
}

#goodsList .weui_navbar .weui_navbar_item:after{
  border-right: 0;
}

#goodsList .weui_navbar .weui_navbar_item:active{
  background-color: #dcdcdc;
}

#goodsList #content .goods_bar_item_on{
  height: 20px;
  color:red;
  border-bottom: 3px solid red;
}

.arrow-status{
  width: 17px;
  height: 20px;
  background-size: 120px 20px;
  background-position:-5px 0;
  background-image: url(../../img/goodList/goodList-img-arrow.png);
  background-repeat: no-repeat;
  position: absolute;
}

.arrow-status-up{
  width: 17px;
  height: 20px;
  background-size: 120px 20px;
  background-position:-5px 0;
  background-image: url(../../img/goodList/goodList-img-arrow.png);
  background-repeat: no-repeat;
  position: absolute;
}

.arrow-status-down{
  width: 35px;
  height: 20px;
  background-size:120px 20px;
  background-position:-47px 2px;
  background-image: url(../../img/goodList/goodList-img-arrow.png);
  background-repeat: no-repeat;
  position: absolute;
}

#goodsList .goods-box-header{
  margin-top: 5px;
  /*margin-bottom: 5px;*/
  margin-left: 5px;
  margin-right: 5px;
}

#goodsList .goods-box{
  width: 49%;
  /*height: 205px;*/
  /*line-height: 175px;*/
  text-align: center;
  /*color: #fff;*/
  font-size: 12px;
  padding: 0;
  /*margin: 5px 5px 5px 10px;*/
  border:1px solid #cccccc;
  background-color: white;margin-bottom: 6px;
}

#goodsList .goods-box-img{
  width: 120px;
  height: 130px;
  margin-top: 5px;
  margin-bottom: 5px;
  /*background: #de7c23;*/
}

#goodsList .goods-box-text{
  width: 100%;
  height: 45px;
  border-top: 1px solid #cccccc;
  text-align: left;
  color: #4c4c4c;
}

#goodsList .goods-box-text div{
  padding: 5px 5px 0 5px;
  font-size: 12px;
}

#goodsList .goods-box-footer-text{
  width: 100%;
  height: 30px;
  line-height: 30px;
  /*background: #DE8BD4;*/
  /*padding:0 5px 0 5px;*/
  /*border-top: 1px solid #cccccc;*/
  font-size: 12px;
}

#goodsList .goods-c-left{
  min-width: 30px;
  padding: 0 5px 0 5px;
  color:#F15353;
}

#goodsList .goods-c-right{
  padding: 0 5px 0 5px;
}

#goodsList .goods-c-right img{
  width: 20px;
  height: 18px;
  margin-top: 7px;
}

#goodsList .goods-c-right s{
  color:#9F9F9F;
}

#goodsList #footer{
  width: 100%;
  position: fixed;
}





#goodsList #content-footer{
  width: 100%;
  height: 50px;
  text-align: center;
}

#goodsList .content-footer-div{
  width:100%;
  height: 50px;
  font-size: 12px;
  color: #4E4E4E;
}

#goodsList .c-f-d-right{
  width:33%;
  line-height: 50px;
  text-align: right;
  float: left;
}

#goodsList .c-f-d-center{
  width:33%;
  line-height: 50px;
  text-align: center;
  float: left;
}

#goodsList .c-f-d-left{
  width:33%;
  line-height: 50px;
  text-align: left;
  float: left;
}

#goodsList .load-more-product .load-more-button{
  right: 35%;
  left: 35%;
  padding: 1px 0;
  border: 1px solid #989898;
  font-size: 15px;
  color: #7F7F7F;
  border-radius: 5px;
  text-align: center;
  position: absolute;
}
#goodsList .load-more-product .load-more-button:active{
  background-color: #989898;
  color: white;
}